@import "../../styles.scss";

:host {
  display: flex;
  gap: 5px;
  flex-grow: 1;
}

.annotation-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.annotation-buttons > button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  background: $surface-100;
  transition: background .3s
}

.annotation-buttons button:hover {
  background: $surface-200
}

.annotation-buttons button svg {
  height: 35px;
  width: 35px;
}

.annotation-buttons button svg path, .annotation-buttons button i {
  fill: $text-100;
  color: $text-100;
}

.annotation-buttons button:hover svg path, .annotation-buttons button:hover i {
  fill: $text-200;
  color: $text-200;
}

.annotation-buttons button.selected {
  background-color: $surface-300;
}

.chart-and-controls-wrapper {
  display: flex;
  gap: 5px;
  flex-grow: 1;
}

app-chart {
  flex-grow: 1;
}

.chart-controls {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  padding: 10px;
  overflow-y: auto;
  background: $surface-100;
  font-size: 18px;
}

.chart-controls .data-category, .data-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center
}

.chart-controls .data-category {
  gap: 5px;
}

.separator {
  height: 2px;
  width: 100%;
  background-color: $surface-400
}

.data-info {
  width: 100%;
}

#add-indicator .indicator-list .header, .data-details, .data-values {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%
}

.data-details h1 {
  font-size: 1em;
  font-weight: 900;
  margin-right: 10px
}

.data-details .data-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px
}

.data-details .data-buttons-wrapper button {
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: $surface-300;
  font-size: 0.8em;
  font-weight: 900;
  text-align: center
}

.data-values {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 5px;
  margin-left: 15px
}

.edit-indicator-panel, .data-values > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start
}

.edit-indicator-panel > div {
  margin-bottom: 20px;
}

.edit-indicator-panel .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.edit-indicator-panel .header button {
  margin-right: 20px;
  background: 0 0;
  color: $text-100;
  border: 0;
  padding: 0;
  font: inherit;
  outline: inherit
}

.edit-indicator-panel .header button:hover {
  color: $text-200
}

.edit-indicator-panel .style, .edit-indicator-panel .param {
  margin-bottom: 5px;
}

.edit-indicator-panel h2 {
  margin-bottom: 10px;
}

.edit-indicator-panel label {
  text-transform: capitalize;
  margin-right: 20px;
}

.edit-indicator-panel input {
  margin-right: 10px;
}

.edit-indicator-panel input[type="color" i] {
  width: 25px;
  height: 25px;
  border: 1px solid $neutral-100;
  border-radius: 5px;
  background-color: $surface-300;
}

.edit-indicator-panel .width-select {
  display: flex;
  align-items: center;
  border: 1px solid $neutral-100;
  border-radius: 5px;
  background-color: $surface-300;
}

.edit-indicator-panel .width-select .preview {
  margin: 0 3px;
  width: 20px;
  background-color: $text-100;
}

.edit-indicator-panel .width-select select {
  border-radius: 0
}

.edit-indicator-panel .form-actions {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.edit-indicator-panel .form-actions button {
  padding: 7px 15px;
  font-weight: 900;
  font-size: 13px;
  transition: background .2s
}

.edit-indicator-panel .form-actions button.apply {
  background-color: $primary-100;
}

.edit-indicator-panel .form-actions button.apply:hover {
  background-color: $primary-200;
}

.edit-indicator-panel .form-actions button.cancel:hover {
  background-color: $surface-300;
}

numberInput,
.edit-indicator-panel .param input {
  width: 50px;
  height: 25px;
  border: 1px solid $neutral-100;
  border-radius: 5px;
  background-color: $surface-300;
  font-size: 12px;
  font-weight: 900;
  padding: 0 5px;
}

.edit-indicator-panel .style {
  display: flex;
  align-items: center;
}

.edit-indicator-panel .style h3 {
  text-transform: capitalize;
}

.data-values .arrow {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-bottom: 2px solid $surface-400;
  border-left: 2px solid $surface-400;
  border-radius: 0 0 0 3px
}

.data-values h2 {
  font-size: 0.8em;
  font-weight: 600;
  text-transform: capitalize
}

.data-values h2 i {
  color: $text-200;
  font-weight: 400
}

.data-values h2 .pos {
  color: $green-100
}

.data-values h2 .neg {
  color: $red-100
}

.add-indicator-btn {
  padding: 5px 20px;
  background-color: $primary-100;
  font-size: 0.9em;
  font-weight: 700;
  border-radius: 5px;
  transition: background .2s
}

.add-indicator-btn:hover {
  background-color: $primary-200
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 95%;
  margin-top: 20px;
  font-size: 0.7em;
}

.footer * {
  color: $text-200;
}

.panel-background {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($surface-100, 0.5);
  backdrop-filter: blur(10px);
}

.edit-panel .edit-indicator-panel {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  width: 60vw;
  max-width: 350px;
  padding: 20px;
  background: $surface-200
}

#add-indicator .indicator-list {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 80%;
  max-width: 900px;
  box-sizing: border-box;
  background: $surface-200;
  overflow-x: hidden;
  overflow-y: auto;
}

#add-indicator .indicator-list .header {
  position: sticky;
  top: 0;
  align-items: center
}

#add-indicator .indicator-list button {
  margin-right: 20px;
  background: 0 0;
  color: $text-100;
  border: 0;
  padding: 0;
  font: inherit;
  outline: inherit
}

#add-indicator .indicator-list button:hover {
  color: $text-200
}

#add-indicator .indicator-list input {
  margin: 10px;
  padding: 6px;
  font-size: 1em;
  border: solid #fff 1px;
  border-radius: 7px;
  background-color: $text-100;
  height: 40px;
  width: 400px;
  color: black;
}

#add-indicator .indicator-list input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(../../assets/img/icons/xmark-solid.svg) no-repeat 50% 50%;
  background-size: contain
}

.result {
  background-color: $surface-200;
  cursor: pointer
}

.result:hover {
  background: darken($surface-300, 3)
}

.result.highlight {
  background: darken($surface-300, 4)
}

table {
  width: 100%
}

td, th {
  color: $text-100;
  border-color: $surface-400
}

td i, th {
  color: $text-200;
  font-size: 12px;
  margin: 0 5px 0 10px
}

th {
  font-weight: 700;
  background: darken($surface-200, 2);
}

td i {
  font-weight: 300
}

@media screen and (max-width: 480px) {
  .annotation-buttons > button {
    height: 40px;
    width: 40px;
  }

  .annotation-buttons button svg {
    height: 30px;
    width: 30px;
  }

  .chart-and-controls-wrapper {
    flex-direction: column;
  }

  .chart-controls {
    width: auto;
    height: 95px;
    font-size: 14px;
  }

  .add-indicator-btn {
    width: fit-content;
  }
}

@media screen and (max-width: 600px) {
  #add-indicator .indicator-list {
    width: 95%;
  }
}
