<div *ngIf="src=='macro-indicator' && app.isLoggedIn != undefined" class="popup border-style box-shadow">
  <img src="../../assets/img/finalyzing-one.png" alt="Finalyzing One" class="logo">
  <button type="button" *ngIf="host" (click)="host.closePremiumPopup()" class="back-btn">< Back</button>

  <video src="../../assets/video/premium-popup/macro-indicators.mp4" class="border-style" autoplay="autoplay" muted="muted" loop="loop" playsinline="playsinline"></video>

  <h1>Dive Deeper into Global Economics</h1>

  <p>
    Explore macroeconomics with Finalyzing One. Access 38 macroeconomic indicators for 215 countries, providing you with a comprehensive overview of each country's situation. Track the performance of 3 countries on a single indicator using graphs and tables. Furthermore, customize your analysis by adding up to 4 additional indicators for an even more in-depth perspective.
  </p>

  <a href="/pricing" class="pricing-link">See Pricing</a>
</div>

<div *ngIf="src=='indicators'" class="popup border-style box-shadow">
  <img src="../../assets/img/finalyzing-one.png" alt="Finalyzing One" class="logo">
  <button type="button" *ngIf="host" (click)="host.closePremiumPopup()" class="back-btn">< Back</button>

  <video src="../../assets/video/premium-popup/indicators.mp4" class="border-style" autoplay="autoplay" muted="muted" loop="loop" playsinline="playsinline"></video>

  <h1>Indicators Limit: Upgrade to Supercharge Your Technical Analysis</h1>

  <p>
    Enhance your technical analysis with the Premium subscription 'Finalyzing One.' Enjoy unlimited access to technical indicators, allowing you to deepen your analysis.
  </p>

  <a href="/pricing" class="pricing-link">See Pricing</a>
</div>

<div *ngIf="src=='financials'" class="popup border-style box-shadow">
  <img src="../../assets/img/finalyzing-one.png" alt="Finalyzing One" class="logo">
  <button type="button" *ngIf="host" (click)="host.closePremiumPopup()" class="back-btn">< Back</button>

  <video src="../../assets/video/premium-popup/financials.mp4" class="border-style" autoplay="autoplay" muted="muted" loop="loop" playsinline="playsinline"></video>

  <h1>Historical Accounting Data and Ratios</h1>

  <p>
    Finalyzing One provides you with an exclusive advantage: access to annual and quarterly historical financial data of companies, complete with pre-calculated ratios (current ratio, quick ratio, Altman Z-Score, Piotroski Score, and many more). You can add up to 4 financial tables simultaneously. This allows you to track key figures, analyze financial trends, and make informed decisions.
  </p>

  <a href="/pricing" class="pricing-link">See Pricing</a>
</div>

<div *ngIf="src=='watchlist'" class="popup border-style box-shadow">
  <img src="../../assets/img/finalyzing-one.png" alt="Finalyzing One" class="logo">
  <button type="button" *ngIf="host" (click)="host.closePremiumPopup()" class="back-btn">< Back</button>

  <video src="../../assets/video/premium-popup/watchlist.mp4" class="border-style" autoplay="autoplay" muted="muted" loop="loop" playsinline="playsinline"></video>

  <h1>Watchlist Limit: Upgrade to Unlock Unlimited Tickers</h1>

  <p>
    With Finalyzing One, you have the option to add an unlimited number of tickers to your watchlist. No more limits, more possibilities to track your investments and explore new opportunities in the financial markets.
  </p>

  <a href="/pricing" class="pricing-link">See Pricing</a>
</div>

<div *ngIf="src=='portfolio'" class="popup border-style box-shadow">
  <img src="../../assets/img/finalyzing-one.png" alt="Finalyzing One" class="logo">
  <button type="button" *ngIf="host" (click)="host.closePremiumPopup()" class="back-btn">< Back</button>

  <video src="../../assets/video/premium-popup/portfolio.mp4" class="border-style" autoplay="autoplay" muted="muted" loop="loop" playsinline="playsinline"></video>

  <h1>Enhanced Investment Management</h1>

  <p>
    Maximize Investment Control: Create Multiple Portfolio Groups with Finalyzing One. Track returns and key ratios like beta, alpha, standard deviation, and Sharpe ratio for a comprehensive performance overview using our advanced analytical tools.
  </p>

  <a href="/pricing" class="pricing-link">See Pricing</a>
</div>

<div *ngIf="src=='financial-metrics'" class="popup border-style box-shadow">
  <img src="../../assets/img/finalyzing-one.png" alt="Finalyzing One" class="logo">
  <button type="button" *ngIf="host" (click)="host.closePremiumPopup()" class="back-btn">< Back</button>

  <video src="../../assets/video/premium-popup/metrics.mp4" class="border-style" autoplay="autoplay" muted="muted" playsinline="playsinline"></video>

  <h1>Harness Financial Metrics with Finalyzing One</h1>

  <p>
    Finalyzing One provides access to financial metrics, including analyst ratings, analyst target prices, and the percentage of short positions (short percent) for each stock. These data offer an in-depth perspective on expert recommendations, price targets, and market sentiment, enabling you to make informed investment decisions.
  </p>

  <a href="/pricing" class="pricing-link">See Pricing</a>
</div>

<div *ngIf="src=='earnings'" class="popup border-style box-shadow">
  <img src="../../assets/img/finalyzing-one.png" alt="Finalyzing One" class="logo">
  <button type="button" *ngIf="host" (click)="host.closePremiumPopup()" class="back-btn">< Back</button>

  <video src="../../assets/video/premium-popup/earnings.mp4" class="border-style" autoplay="autoplay" muted="muted" loop="loop" playsinline="playsinline"></video>

  <h1>Earnings History Insights: Stay Informed</h1>

  <p>
    Finalyzing One provides access to the history of quarterly earnings announcements. Track the financial performance of the companies you follow by reviewing their complete history of earnings releases. This allows you to analyze growth trends and fine-tune your investment decisions.
  </p>

  <a href="/pricing" class="pricing-link">See Pricing</a>
</div>

<div *ngIf="src=='news'" class="popup border-style box-shadow">
  <img src="../../assets/img/finalyzing-one.png" alt="Finalyzing One" class="logo">
  <button type="button" *ngIf="host" (click)="host.closePremiumPopup()" class="back-btn">< Back</button>

  <video src="../../assets/video/premium-popup/news.mp4" class="border-style" autoplay="autoplay" muted="muted" loop="loop" playsinline="playsinline"></video>

  <h1>Harnessing Sentiment Trend Analysis</h1>

  <p>
    With Finalyzing One, access sentiment analysis of news and tweets related to your stocks for 1-day, 1-week, and 1-month periods. This provides you with an in-depth understanding of public opinion and trends, enabling you to make informed investment decisions.
  </p>

  <a href="/pricing" class="pricing-link">See Pricing</a>
</div>
