@import "../../styles.scss";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($surface-100, 0.5);
  backdrop-filter: blur(10px);
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 25px 12px 12px;
  gap: 10px;
  width: 80%;
  max-width: 1000px;
  box-sizing: border-box;
  background: $surface-200;
  border-radius: 25px !important;
}

form button {
  color: $text-100;
}

form button:hover {
  color: $text-200;
}

form .search-box {
  display: flex;
  gap: 10px;
}

form .search-box input {
  padding: 7px 20px;
  background-color: $text-100;
  width: 25vw;
  max-width: 300px;
  min-width: 100px;
  color: black;
  font-size: 1.2em;
  border-radius: 15px;
}

form .search-box button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5vw;
  width: 3.5vw;
  max-height: 43px;
  max-width: 43px;
  min-height: 34px;
  min-width: 34px;
  background-color: $primary-100;
  border-radius: 50%;
  vertical-align: middle;
  transition: .2s background-color;
}

form .search-box button:hover {
  background-color: $primary-200;
}

form input::-webkit-search-cancel-button {
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url('../../assets/img/icons/xmark-solid.svg') no-repeat 50% 50%;
  background-size: contain;
}

form select {
  font-size: 1em;
  max-width: 150px;
  padding: 2px 5px;
}

.actions {
  display: flex;
  gap: 15px;
}

.select-wrapper {
  display: flex;
  gap: 10px;
}

.watchlist {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  width: 80%;
  max-width: 1000px;
  overflow-x: auto;
  white-space: nowrap;
}

.watchlist a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 7px 15px 7px 7px;
  border-radius: 30px;
  background-color: $surface-200;
  border: 1px solid $neutral-100;
  text-decoration: none;
  transition: background-color .2s
}

.watchlist a:hover {
  background-color: $surface-300;
}

.watchlist .texts {
  display: flex;
  flex-direction: column;
  color: $text-100;
  font-weight: 700;
}

.watchlist .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 2.2vw;
  width: 2.2vw;
  max-height: 29px;
  max-width: 29px;
  min-height: 20px;
  min-width: 20px;
  box-sizing: border-box;
  color: black;
  font-size: 1.3em;
  font-weight: 700;
  background-color: $text-100;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 2px 10px 2px rgba(10, 10, 10, 0.3)
}

.autocomplete {
  height: 50vh;
  width: 80%;
  max-width: 1000px;
  overflow: hidden;
  background: $surface-200;
  white-space: nowrap;
  font-size: 1.1em;
  border-radius: 25px;
}

.autocomplete table {
  background: $surface-200;
  width: 100%;
}

.autocomplete table .result {
  background-color: $surface-200;
  cursor: pointer;
}

.autocomplete table .result:hover {
  background: darken($surface-300, 3);
}

.autocomplete table .highlight {
  background: darken($surface-300, 4);
}

.autocomplete table tr {
  padding: 0 20px;
}

.autocomplete table th, td {
  padding: 10px !important;
  color: $text-100;
  border-color: $surface-400;
  max-width: 30%;
  overflow: hidden;
}

.autocomplete table td > i {
  color: $text-200;
  font-weight: 300;
  font-size: 0.7em;
}

.autocomplete table div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.autocomplete table th {
  font-weight: bold;
  background: darken($surface-200, 2);
}

.autocomplete table .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17px;
  width: 17px;
  padding: 5px;
  color: black;
  font-weight: 700;
  background-color: $text-100;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid $neutral-100;
}

.autocomplete table .result button > i.fa-regular {
  opacity: 0;
}

.autocomplete table .result:hover button > i.fa-regular {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  form {
    width: 95%;
  }

  .select-wrapper {
    flex-direction: column;
    gap: 5px;
  }

  form select {
    font-size: 0.7em;
    max-width: 105px;
    padding: 1px 5px;
  }

  .watchlist {
    width: 95%;
  }

  .autocomplete {
    width: 95%;
  }
}
