// Color Var

$primary-100: #3e32e6;
$primary-200: #261f8c;
$primary-300: #181459;

$secondary-100: #ef5e40;
$secondary-200: #ca5138;
$secondary-300: #a5452f;

$surface-000: #0d0d0d;
$surface-100: #121212;
$surface-200: #1f1f1f;
$surface-300: #363636;
$surface-400: #4e4e4e;
$surface-500: #686868;

$text-100: #dad9d5;
$text-200: #a5a5a5;

$blue-100: #1bafff;
$blue-200: #0056b3;
$blue-300: #00254d;

$red-100: #ff1a45;
$red-200: #b3122f;
$red-300: #330a10;

$green-100: #1aff7e;
$green-200: #12b357;
$green-300: #0a331b;

$neutral-100: rgba(128, 128, 128, 0.5);


// Global Attribute

html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $surface-100;
  overflow-x: hidden;
  overflow-y: overlay;
  font-size: 1.3vw;
}

*:not(i) {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: $text-100;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  outline: inherit;
}

button:disabled {
  cursor: not-allowed;
}

select {
  border: 1px solid $neutral-100;
  border-radius: 7px;
  background-color: $surface-300;
  font-size: 0.8em;
  font-weight: 900;
  cursor: pointer;
}

select option {
  font-size: 1em;
  font-weight: 700;
}

input {
  touch-action: manipulation;
}

@media screen and (max-width: 850px) {
  body {
    font-size: 11px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 16px;
  }
}


// Global Class

.border-style {
  border: 1px solid $neutral-100;
  border-radius: 12px;
}

.text-shadow {
  filter: drop-shadow(5px 10px 10px rgba(10, 10, 10, 0.5))
}

.box-shadow {
  box-shadow: 0 5px 20px 5px rgba(10, 10, 10, 0.5);
}

.glass-morphism {
  background-color: rgba($surface-100, 0.5);
  backdrop-filter: blur(10px);
}

.table {
  color: $text-100;
  overflow: hidden;
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  text-align: left;
  padding: 10px !important;
  border: 1px solid $neutral-100;
  color: $text-100;
}

.table th {
  background-color: darken($surface-200, 2);
  color: $text-100;
}

.table tr {
  background-color: $surface-200;
}

.table tr:nth-child(even) {
  background-color: darken($surface-200, 2);
}

.table tr:hover {
  background-color: $surface-300;
}

.table td.val {
  font-weight: bold;
}

.table td a {
  text-decoration: none;
}

.table td a:hover {
  color: $blue-100;
  text-decoration: underline;
}

.value {
  width: fit-content;
  padding: 2px 10px;
  font-weight: 600;
  border-radius: 10px;
  background-color: rgba($text-100, 0.1);
  color: $text-100;
  border: 1px solid $text-100;
  white-space: nowrap;
}

.value.light {
  background-color: $text-100;
  color: $surface-200;
}

.value.pos {
  background-color: $green-300;
  color: $green-100;
  border: 1px solid $green-100;
}

.value.neg {
  background-color: $red-300;
  color: $red-100;
  border: 1px solid $red-100;
}

.value.blue {
  background-color: $blue-300;
  color: $blue-100;
  border: 1px solid $blue-100;
}

.value.yellow {
  background-color: rgba(gold, 0.1);
  color: gold;
  border: 1px solid gold;
}

// Custom Scrollbar

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: $surface-200;
  margin: 10px;
}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: $surface-400;
}

::-webkit-scrollbar-thumb:hover{
  background: $surface-500;
}
