<div *ngIf="quoteComponent.selectTab === 'financials' && isObjectEmpty(data['Financials']['Income_Statement']['yearly'])" class="content">
  <div class="header">
    <h1>No data</h1>
  </div>
</div>

<div *ngIf="quoteComponent.selectTab === 'financials' && !isObjectEmpty(data['Financials']['Income_Statement']['yearly'])" class="content">
  <header>
    <h1>Financials</h1>

    <div class="selectors">
      <div class="periods">
        <button type="button" (click)="changePeriod('yearly')" [ngClass]="{'selected': period == 'yearly'}">Yearly</button>
        <button type="button" (click)="changePeriod('quarterly')" [ngClass]="{'selected': period == 'quarterly'}">Quarterly</button>
      </div>

      <div class="tabs">
        <button type="button" class="tab" (click)="tab='Balance_Sheet'; convertDate(period)" [ngClass]="{'selected': tab == 'Balance_Sheet'}">Balance Sheet</button>
        <button type="button" class="tab" (click)="tab='Cash_Flow'; convertDate(period)" [ngClass]="{'selected': tab == 'Cash_Flow'}">Cash Flow</button>
        <button type="button" class="tab" (click)="tab='Income_Statement'; convertDate(period)" [ngClass]="{'selected': tab == 'Income_Statement'}">Income Statement</button>
      </div>
    </div>
  </header>

  <div class="content-wrapper" *ngIf="tab=='Balance_Sheet'">
    <section>
      <h2>Assets</h2>

      <div class="table-wrapper">
        <table class="table border-style box-shadow" [ngStyle]="{'border-top-right-radius': (dates.length < 4) ? '0' : '10px'}">
          <tr>
            <th>Details</th>
            <th *ngFor="let date of dates; let index = index">
              <select [(ngModel)]="dates[index]" (ngModelChange)="checkAccount(index)">
                <option *ngFor="let dateOption of getDates(data['Financials'][tab][period])" [value]="dateOption">{{ dateOption }}</option>
              </select>
              <button type="button" (click)="delDate(index)" *ngIf="dates.length > 1"><i class="fa-solid fa-xmark"></i></button>
            </th>
          </tr>
          <tr>
            <td>Total Assets</td>
            <td class="val" *ngFor="let date of dates; let index=index">
              {{data["Financials"]["Balance_Sheet"][period][date]["totalAssets"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["totalAssets"]) : '-' }}
            </td>
          </tr>
          <tr>
            <td>Current assets</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["totalCurrentAssets"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["totalCurrentAssets"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Cash, cash equivalents & short term investments</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["cashAndShortTermInvestments"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["cashAndShortTermInvestments"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Cash & cash equivalents</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["cashAndEquivalents"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["cashAndEquivalents"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Other short term investments</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["shortTermInvestments"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["shortTermInvestments"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Receivables</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["netReceivables"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["netReceivables"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Inventory</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["inventory"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["inventory"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Other current assets</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["otherCurrentAssets"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["otherCurrentAssets"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Total non current assets</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["nonCurrentAssetsTotal"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["nonCurrentAssetsTotal"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Net property, plant and equipment</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["propertyPlantAndEquipmentNet"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["propertyPlantAndEquipmentNet"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Goodwill</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["goodWill"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["goodWill"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Other intangible assets</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["intangibleAssets"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["intangibleAssets"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Long term investment</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["longTermInvestments"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["longTermInvestments"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Other non current assets</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["nonCurrrentAssetsOther"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["nonCurrrentAssetsOther"]) : '-' }}</td>
          </tr>
        </table>
        <button type="button" class="add" (click)="addDate()" *ngIf="dates.length < 4"><i class="fa-solid fa-circle-plus"></i></button>
      </div>
    </section>

    <section>
      <h2>Liabilities</h2>

      <div class="table-wrapper">
        <table class="table border-style box-shadow" [ngStyle]="{'border-top-right-radius': (dates.length < 4) ? '0' : '10px'}">
          <tr>
            <th>Details</th>
            <th *ngFor="let date of dates; let index = index">
              <select [(ngModel)]="dates[index]">
                <option *ngFor="let dateOption of getDates(data['Financials'][tab][period])" [value]="dateOption">{{ dateOption }}</option>
              </select>
              <button type="button" (click)="delDate(index)" *ngIf="dates.length > 1"><i class="fa-solid fa-xmark"></i></button>
            </th>
          </tr>
          <tr>
            <td>Total liabilities</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["totalLiab"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["totalLiab"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Current liabilities</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["totalCurrentLiabilities"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["totalCurrentLiabilities"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Accounts payable</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["accountsPayable"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["accountsPayable"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Current debt</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["shortTermDebt"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["shortTermDebt"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Current deferred revenue</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["currentDeferredRevenue"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["currentDeferredRevenue"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Other current liabilities</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["otherCurrentLiab"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["otherCurrentLiab"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Non current liabilities</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["nonCurrentLiabilitiesTotal"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["nonCurrentLiabilitiesTotal"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Long term debt</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["longTermDebt"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["longTermDebt"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Long term capital lease obligation</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["capitalLeaseObligations"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["capitalLeaseObligations"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Other non current liabilities</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["nonCurrentLiabilitiesOther"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["nonCurrentLiabilitiesOther"]) : '-' }}</td>
          </tr>
        </table>
        <button type="button" (click)="addDate()" class="add" *ngIf="dates.length < 4"><i class="fa-solid fa-circle-plus"></i></button>
      </div>
    </section>

    <section>
      <h2>Stockholders Equity</h2>

      <div class="table-wrapper">
        <table class="table border-style box-shadow" [ngStyle]="{'border-top-right-radius': (dates.length < 4) ? '0' : '10px'}">
          <tr>
            <th>Details</th>
            <th *ngFor="let date of dates; let index = index">
              <select [(ngModel)]="dates[index]">
                <option *ngFor="let dateOption of getDates(data['Financials'][tab][period])" [value]="dateOption">{{ dateOption }}</option>
              </select>
              <button type="button" (click)="delDate(index)" *ngIf="dates.length > 1"><i class="fa-solid fa-xmark"></i></button>
            </th>
          </tr>
          <tr>
            <td>Total stockholders equity</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["totalStockholderEquity"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["totalStockholderEquity"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Common stock</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["commonStock"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["commonStock"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Capital stock</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["capitalStock"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["capitalStock"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Retained earnings</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["retainedEarnings"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["retainedEarnings"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Gains/losses not affecting retained earnings</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["otherStockholderEquity"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["otherStockholderEquity"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Capital surplus</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["capitalSurpluse"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["capitalSurpluse"]) : '-' }}</td>
          </tr>
        </table>
        <button type="button" (click)="addDate()" class="add" *ngIf="dates.length < 4"><i class="fa-solid fa-circle-plus"></i></button>
      </div>
    </section>

    <section>
      <h2>Other</h2>

      <div class="table-wrapper">
        <table class="table border-style box-shadow" [ngStyle]="{'border-top-right-radius': (dates.length < 4) ? '0' : '10px'}">
          <tr>
            <th>Details</th>
            <th *ngFor="let date of dates; let index = index">
              <select [(ngModel)]="dates[index]">
                <option *ngFor="let dateOption of getDates(data['Financials'][tab][period])" [value]="dateOption">{{ dateOption }}</option>
              </select>
              <button type="button" (click)="delDate(index)" *ngIf="dates.length > 1"><i class="fa-solid fa-xmark"></i></button>
            </th>
          </tr>
          <tr>
            <td>Common stock equity</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["commonStockTotalEquity"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["commonStockTotalEquity"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Total debt</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["shortLongTermDebtTotal"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["shortLongTermDebtTotal"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Net debt</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["netDebt"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["netDebt"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Working capital</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["netWorkingCapital"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["netWorkingCapital"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Invested capital</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["netInvestedCapital"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["netInvestedCapital"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Capital lease obligations</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["capitalLeaseObligations"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["capitalLeaseObligations"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Net tangible assets</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["netTangibleAssets"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["netTangibleAssets"]) : '-' }}</td>
          </tr>
          <tr *ngIf="period=='yearly'">
            <td>Altman Z-Score</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ altmanZScore(date) }}</td>
          </tr>
          <tr *ngIf="period=='yearly'">
            <td>Piotroski Score</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ PiotroskiScore(date) }}</td>
          </tr>
        </table>
        <button type="button" (click)="addDate()" class="add" *ngIf="dates.length < 4"><i class="fa-solid fa-circle-plus"></i></button>
      </div>
    </section>

    <section>
      <h2>Ratios</h2>

      <div class="table-wrapper">
        <table class="table border-style box-shadow" [ngStyle]="{'border-top-right-radius': (dates.length < 4) ? '0' : '10px'}">
          <tr>
            <th>Details</th>
            <th *ngFor="let date of dates; let index = index">
              <select [(ngModel)]="dates[index]">
                <option *ngFor="let dateOption of getDates(data['Financials'][tab][period])" [value]="dateOption">{{ dateOption }}</option>
              </select>
              <button type="button" (click)="delDate(index)" *ngIf="dates.length > 1"><i class="fa-solid fa-xmark"></i></button>
            </th>
          </tr>
          <tr>
            <td>Current ratio</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ (data["Financials"]["Balance_Sheet"][period][date]["totalCurrentAssets"] !== null && data["Financials"]["Balance_Sheet"][period][date]["totalCurrentLiabilities"] !== null) ? (data["Financials"]["Balance_Sheet"][period][date]["totalCurrentAssets"] / data["Financials"]["Balance_Sheet"][period][date]["totalCurrentLiabilities"]).toFixed(2) : '-' }}</td>
          </tr>
          <tr>
            <td>Quick ratio</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ (data["Financials"]["Balance_Sheet"][period][date]["totalCurrentAssets"] !== null && data["Financials"]["Balance_Sheet"][period][date]["inventory"] !== null && data["Financials"]["Balance_Sheet"][period][date]["totalCurrentLiabilities"] !== null) ? ((data["Financials"]["Balance_Sheet"][period][date]["totalCurrentAssets"] - data["Financials"]["Balance_Sheet"][period][date]["inventory"]) / data["Financials"]["Balance_Sheet"][period][date]["totalCurrentLiabilities"]).toFixed(2) : '-' }}</td>
          </tr>
          <tr>
            <td>Working capital</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ (data["Financials"]["Balance_Sheet"][period][date]["totalCurrentAssets"] !== null && data["Financials"]["Balance_Sheet"][period][date]["totalCurrentLiabilities"] !== null) ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Balance_Sheet"][period][date]["totalCurrentAssets"] - data["Financials"]["Balance_Sheet"][period][date]["totalCurrentLiabilities"]) : '-' }}</td>
          </tr>
          <tr>
            <td>Debt/equity</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["shortLongTermDebtTotal"] !== null && data["Financials"]["Balance_Sheet"][period][date]["totalStockholderEquity"] !== null ? (data["Financials"]["Balance_Sheet"][period][date]["shortLongTermDebtTotal"] / data["Financials"]["Balance_Sheet"][period][date]["totalStockholderEquity"]).toFixed(2) : '-' }}</td>
          </tr>
          <tr>
            <td>Debt ratio</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["totalLiab"] !== null && data["Financials"]["Balance_Sheet"][period][date]["totalAssets"] !== null ? (data["Financials"]["Balance_Sheet"][period][date]["totalLiab"] / data["Financials"]["Balance_Sheet"][period][date]["totalAssets"]).toFixed(2) : '-' }}</td>
          </tr>
          <tr>
            <td>Cash ratio</td>
            <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Balance_Sheet"][period][date]["cashAndEquivalents"] !== null && data["Financials"]["Balance_Sheet"][period][date]["totalCurrentLiabilities"] !== null ? (data["Financials"]["Balance_Sheet"][period][date]["cashAndEquivalents"] / data["Financials"]["Balance_Sheet"][period][date]["totalCurrentLiabilities"]).toFixed(2) : '-' }}</td>
          </tr>
          <tr>
            <td>ROA</td>
            <ng-container *ngFor="let date of dates; let index=index">
              <td class="val">
                {{ data["Financials"]["Income_Statement"][period] &&
              data["Financials"]["Income_Statement"][period][date] &&
              data["Financials"]["Income_Statement"][period][date]["netIncome"] !== undefined
                ? (data["Financials"]["Income_Statement"][period][date]["netIncome"] / data["Financials"]["Balance_Sheet"][period][date]["totalAssets"]).toFixed(2)
                : '-'
                }}
              </td>
            </ng-container>
          </tr>
        </table>
        <button type="button" (click)="addDate()" class="add" *ngIf="dates.length < 4"><i class="fa-solid fa-circle-plus"></i></button>
      </div>
    </section>
  </div>

  <div class="content-wrapper" *ngIf="tab=='Cash_Flow'">

    <h2>Operating cash flow</h2>

    <h2 *ngIf="Object.keys(data['Financials'][tab][period]).length == 0">No Data</h2>

    <div *ngIf="Object.keys(data['Financials'][tab][period]).length > 0" class="table-wrapper">
      <table class="table border-style box-shadow" [ngStyle]="{'border-top-right-radius': (dates.length < 4) ? '0' : '10px'}">
        <tr>
          <th>Details</th>
          <th *ngFor="let date of dates; let index = index">
            <select [(ngModel)]="dates[index]" (ngModelChange)="checkAccount(index)">
              <option *ngFor="let dateOption of getDates(data['Financials'][tab][period])" [value]="dateOption">{{ dateOption }}</option>
            </select>
            <button type="button" (click)="delDate(index)" *ngIf="dates.length > 1"><i class="fa-solid fa-xmark"></i></button>
          </th>
        </tr>
        <tr>
          <td>Total cash from operating activities</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["totalCashFromOperatingActivities"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Cash_Flow"][period][date]["totalCashFromOperatingActivities"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Net income</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["netIncome"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Cash_Flow"][period][date]["netIncome"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Operating gains/losses</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["otherNonCashItems"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Cash_Flow"][period][date]["otherNonCashItems"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Depreciation</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["depreciation"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Cash_Flow"][period][date]["depreciation"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Stock based compensation</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["stockBasedCompensation"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Cash_Flow"][period][date]["stockBasedCompensation"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Change in working capital</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["changeInWorkingCapital"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Cash_Flow"][period][date]["changeInWorkingCapital"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Changes in account receivables</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["changeToAccountReceivables"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Cash_Flow"][period][date]["changeToAccountReceivables"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Change in inventory</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["changeToInventory"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Cash_Flow"][period][date]["changeToInventory"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Change in operating activities</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["changeToOperatingActivities"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Cash_Flow"][period][date]["changeToOperatingActivities"]) : '-' }}</td>
        </tr>
      </table>
      <button type="button" (click)="addDate()" class="add" *ngIf="dates.length < 4"><i class="fa-solid fa-circle-plus"></i></button>
    </div>

    <h2>Investing cash flow</h2>

    <h2 *ngIf="Object.keys(data['Financials'][tab][period]).length == 0">No Data</h2>

    <div *ngIf="Object.keys(data['Financials'][tab][period]).length > 0" class="table-wrapper">
      <table class="table border-style box-shadow" [ngStyle]="{'border-top-right-radius': (dates.length < 4) ? '0' : '10px'}">
        <tr>
          <th>Details</th>
          <th *ngFor="let date of dates; let index = index">
            <select [(ngModel)]="dates[index]">
              <option *ngFor="let dateOption of getDates(data['Financials'][tab][period])" [value]="dateOption">{{ dateOption }}</option>
            </select>
            <button type="button" (click)="delDate(index)" *ngIf="dates.length > 1"><i class="fa-solid fa-xmark"></i></button>
          </th>
        </tr>
        <tr>
          <td>Total cash from investing activities</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["totalCashflowsFromInvestingActivities"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Cash_Flow"][period][date]["totalCashflowsFromInvestingActivities"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Purchase of property, plant and equipment</td>
          <td class="val" *ngFor="let date of dates; let index=index">-{{ data["Financials"]["Cash_Flow"][period][date]["capitalExpenditures"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Cash_Flow"][period][date]["capitalExpenditures"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Net investment</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["investments"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Cash_Flow"][period][date]["investments"]) : '-' }}</td>
        </tr>
      </table>
      <button type="button" (click)="addDate()" class="add" *ngIf="dates.length < 4"><i class="fa-solid fa-circle-plus"></i></button>
    </div>

    <h2>Financing cash flow</h2>

    <h2 *ngIf="Object.keys(data['Financials'][tab][period]).length == 0">No Data</h2>

    <div *ngIf="Object.keys(data['Financials'][tab][period]).length > 0" class="table-wrapper">
      <table class="table border-style box-shadow" [ngStyle]="{'border-top-right-radius': (dates.length < 4) ? '0' : '10px'}">
        <tr>
          <th>Details</th>
          <th *ngFor="let date of dates; let index = index">
            <select [(ngModel)]="dates[index]">
              <option *ngFor="let dateOption of getDates(data['Financials'][tab][period])" [value]="dateOption">{{ dateOption }}</option>
            </select>
            <button type="button" (click)="delDate(index)" *ngIf="dates.length > 1"><i class="fa-solid fa-xmark"></i></button>
          </th>
        </tr>
        <tr>
          <td>Total cash from financing activities</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["totalCashFromFinancingActivities"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Cash_Flow"][period][date]["totalCashFromFinancingActivities"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Net borrowings</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["netBorrowings"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Cash_Flow"][period][date]["netBorrowings"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Issuance of capital stock</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["issuanceOfCapitalStock"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Cash_Flow"][period][date]["issuanceOfCapitalStock"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Sale/purchase of stocks</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["salePurchaseOfStock"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Cash_Flow"][period][date]["salePurchaseOfStock"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Dividends paid</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["dividendsPaid"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Cash_Flow"][period][date]["dividendsPaid"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Other financing charges</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["otherCashflowsFromFinancingActivities"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Cash_Flow"][period][date]["otherCashflowsFromFinancingActivities"]) : '-' }}</td>
        </tr>
      </table>
      <button type="button" (click)="addDate()" class="add" *ngIf="dates.length < 4"><i class="fa-solid fa-circle-plus"></i></button>
    </div>

    <h2>Other</h2>

    <h2 *ngIf="Object.keys(data['Financials'][tab][period]).length == 0">No Data</h2>

    <div *ngIf="Object.keys(data['Financials'][tab][period]).length > 0" class="table-wrapper">
      <table class="table border-style box-shadow" [ngStyle]="{'border-top-right-radius': (dates.length < 4) ? '0' : '10px'}">
        <tr>
          <th>Details</th>
          <th *ngFor="let date of dates; let index = index">
            <select [(ngModel)]="dates[index]">
              <option *ngFor="let dateOption of getDates(data['Financials'][tab][period])" [value]="dateOption">{{ dateOption }}</option>
            </select>
            <button type="button" (click)="delDate(index)" *ngIf="dates.length > 1"><i class="fa-solid fa-xmark"></i></button>
          </th>
        </tr>
        <tr>
          <td>Begin period cash flow</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["beginPeriodCashFlow"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Cash_Flow"][period][date]["beginPeriodCashFlow"]) : '-' }}</td>
        </tr>
        <tr>
          <td>End period cash flow</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["endPeriodCashFlow"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Cash_Flow"][period][date]["endPeriodCashFlow"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Free cash flow</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["freeCashFlow"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Cash_Flow"][period][date]["freeCashFlow"]) : '-' }}</td>
        </tr>
        <tr>
          <td>CAPEX</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["capitalExpenditures"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Cash_Flow"][period][date]["capitalExpenditures"]) : '-' }}</td>
        </tr>
      </table>
      <button type="button" (click)="addDate()" class="add" *ngIf="dates.length < 4"><i class="fa-solid fa-circle-plus"></i></button>
    </div>

    <h2>Ratios</h2>

    <h2 *ngIf="Object.keys(data['Financials'][tab][period]).length == 0">No Data</h2>

    <div *ngIf="Object.keys(data['Financials'][tab][period]).length > 0" class="table-wrapper">
      <table class="table border-style box-shadow" [ngStyle]="{'border-top-right-radius': (dates.length < 4) ? '0' : '10px'}">
        <tr>
          <th>Details</th>
          <th *ngFor="let date of dates; let index = index">
            <select [(ngModel)]="dates[index]">
              <option *ngFor="let dateOption of getDates(data['Financials'][tab][period])" [value]="dateOption">{{ dateOption }}</option>
            </select>
            <button type="button" (click)="delDate(index)" *ngIf="dates.length > 1"><i class="fa-solid fa-xmark"></i></button>
          </th>
        </tr>
        <tr>
          <td>OCF/long term debt</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["totalCashFromOperatingActivities"] !== null && data["Financials"]["Balance_Sheet"][period][date]["longTermDebt"] !== null ? (data["Financials"]["Cash_Flow"][period][date]["totalCashFromOperatingActivities"] / data["Financials"]["Balance_Sheet"][period][date]["longTermDebt"]).toFixed(2) : '-' }}</td>
        </tr>
        <tr>
          <td>OCF/total debt</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["totalCashFromOperatingActivities"] !== null && data["Financials"]["Balance_Sheet"][period][date]["shortLongTermDebtTotal"] !== null ? (data["Financials"]["Cash_Flow"][period][date]["totalCashFromOperatingActivities"] / data["Financials"]["Balance_Sheet"][period][date]["shortLongTermDebtTotal"]).toFixed(2) : '-' }}</td>
        </tr>
        <tr>
          <td>Operating cash flow margin ratio</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["totalCashFromOperatingActivities"] !== null && data["Financials"]["Income_Statement"][period][date]["totalRevenue"] !== null ? quoteComponent.intlFormatObjs['percent'].format(data["Financials"]["Cash_Flow"][period][date]["totalCashFromOperatingActivities"] / data["Financials"]["Income_Statement"][period][date]["totalRevenue"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Dividend payout ratio</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["dividendsPaid"] !== null && data["Financials"]["Cash_Flow"][period][date]["netIncome"] !== null ? (data["Financials"]["Cash_Flow"][period][date]["dividendsPaid"] / data["Financials"]["Cash_Flow"][period][date]["netIncome"]).toFixed(2) : '-' }}</td>
        </tr>
        <tr>
          <td>Cash ROA</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["totalCashFromOperatingActivities"] !== null && data["Financials"]["Balance_Sheet"][period][date]["totalAssets"] !== null ? (data["Financials"]["Cash_Flow"][period][date]["totalCashFromOperatingActivities"] / data["Financials"]["Balance_Sheet"][period][date]["totalAssets"]).toFixed(2) : '-' }}</td>
        </tr>
        <tr>
          <td>FCF/total revenue</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["freeCashFlow"] !== null && data["Financials"]["Income_Statement"][period][date]["totalRevenue"] !== null ? (data["Financials"]["Cash_Flow"][period][date]["freeCashFlow"] / data["Financials"]["Income_Statement"][period][date]["totalRevenue"]).toFixed(2) : '-' }}</td>
        </tr>
        <tr>
          <td>FCF/long term debt</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["freeCashFlow"] !== null && data["Financials"]["Balance_Sheet"][period][date]["longTermDebt"] !== null ? (data["Financials"]["Cash_Flow"][period][date]["freeCashFlow"] / data["Financials"]["Balance_Sheet"][period][date]["longTermDebt"]).toFixed(2) : '-' }}</td>
        </tr>
        <tr>
          <td>FCF/total debt</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["freeCashFlow"] !== null && data["Financials"]["Balance_Sheet"][period][date]["shortLongTermDebtTotal"] !== null ? (data["Financials"]["Cash_Flow"][period][date]["freeCashFlow"] / data["Financials"]["Balance_Sheet"][period][date]["shortLongTermDebtTotal"]).toFixed(2) : '-' }}</td>
        </tr>
        <tr>
          <td>FCF/equity</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Cash_Flow"][period][date]["freeCashFlow"] !== null && data["Financials"]["Balance_Sheet"][period][date]["totalStockholderEquity"] !== null ? (data["Financials"]["Cash_Flow"][period][date]["freeCashFlow"] / data["Financials"]["Balance_Sheet"][period][date]["totalStockholderEquity"]).toFixed(2) : '-' }}</td>
        </tr>
      </table>
      <button type="button" (click)="addDate()" class="add" *ngIf="dates.length < 4"><i class="fa-solid fa-circle-plus"></i></button>
    </div>
  </div>

  <div class="content-wrapper" *ngIf="tab=='Income_Statement'">

    <h2>Revenue, profit and expenses</h2>

    <h2 *ngIf="Object.keys(data['Financials'][tab][period]).length == 0">No Data</h2>

    <div *ngIf="Object.keys(data['Financials'][tab][period]).length > 0" class="table-wrapper">
      <table class="table border-style box-shadow" [ngStyle]="{'border-top-right-radius': (dates.length < 4) ? '0' : '10px'}">
        <tr>
          <th>Details</th>
          <th *ngFor="let date of dates; let index = index">
            <select [(ngModel)]="dates[index]" (ngModelChange)="checkAccount(index)">
              <option *ngFor="let dateOption of getDates(data['Financials'][tab][period])" [value]="dateOption">{{ dateOption }}</option>
            </select>
            <button type="button" (click)="delDate(index)" *ngIf="dates.length > 1"><i class="fa-solid fa-xmark"></i></button>
          </th>
        </tr>
        <tr>
          <td>Total revenue</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Income_Statement"][period][date]["totalRevenue"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Income_Statement"][period][date]["totalRevenue"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Cost of revenue</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Income_Statement"][period][date]["costOfRevenue"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Income_Statement"][period][date]["costOfRevenue"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Gross profit</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Income_Statement"][period][date]["grossProfit"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Income_Statement"][period][date]["grossProfit"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Operating expenses</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Income_Statement"][period][date]["totalOperatingExpenses"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Income_Statement"][period][date]["totalOperatingExpenses"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Selling, general and administrative expenses</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ (data["Financials"]["Income_Statement"][period][date]["sellingGeneralAdministrative"] !== null && data["Financials"]["Income_Statement"][period][date]["sellingAndMarketingExpenses"] !== null) ? quoteComponent.intlFormatObjs['currency'].format(toFloat(data["Financials"]["Income_Statement"][period][date]["sellingGeneralAdministrative"]) + toFloat(data["Financials"]["Income_Statement"][period][date]["sellingAndMarketingExpenses"])) : '-' }}</td>
        </tr>
        <tr>
          <td>General and administrative expenses</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Income_Statement"][period][date]["sellingGeneralAdministrative"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Income_Statement"][period][date]["sellingGeneralAdministrative"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Selling and marketing expenses</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Income_Statement"][period][date]["sellingAndMarketingExpenses"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Income_Statement"][period][date]["sellingAndMarketingExpenses"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Research and development</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Income_Statement"][period][date]["researchDevelopment"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Income_Statement"][period][date]["researchDevelopment"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Operating income</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Income_Statement"][period][date]["operatingIncome"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Income_Statement"][period][date]["operatingIncome"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Net interest income</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Income_Statement"][period][date]["netInterestIncome"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Income_Statement"][period][date]["netInterestIncome"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Interest income</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Income_Statement"][period][date]["interestIncome"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Income_Statement"][period][date]["interestIncome"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Interest expenses</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Income_Statement"][period][date]["interestExpense"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Income_Statement"][period][date]["interestExpense"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Other non operating income expenses</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Income_Statement"][period][date]["nonOperatingIncomeNetOther"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Income_Statement"][period][date]["nonOperatingIncomeNetOther"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Income before taxes</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Income_Statement"][period][date]["incomeBeforeTax"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Income_Statement"][period][date]["incomeBeforeTax"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Tax provision</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Income_Statement"][period][date]["taxProvision"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Income_Statement"][period][date]["taxProvision"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Net income</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Income_Statement"][period][date]["netIncome"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Income_Statement"][period][date]["netIncome"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Net income from continuous operations</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Income_Statement"][period][date]["netIncomeFromContinuingOps"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Income_Statement"][period][date]["netIncomeFromContinuingOps"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Net income applicable to common shares</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Income_Statement"][period][date]["netIncomeApplicableToCommonShares"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Income_Statement"][period][date]["netIncomeApplicableToCommonShares"]) : '-' }}</td>
        </tr>
      </table>
      <button type="button" (click)="addDate()" class="add" *ngIf="dates.length < 4"><i class="fa-solid fa-circle-plus"></i></button>
    </div>

    <h2>Other</h2>

    <h2 *ngIf="Object.keys(data['Financials'][tab][period]).length == 0">No Data</h2>

    <div *ngIf="Object.keys(data['Financials'][tab][period]).length > 0" class="table-wrapper">
      <table class="table border-style box-shadow" [ngStyle]="{'border-top-right-radius': (dates.length < 4) ? '0' : '10px'}">
        <tr>
          <th>Details</th>
          <th *ngFor="let date of dates; let index = index">
            <select [(ngModel)]="dates[index]">
              <option *ngFor="let dateOption of getDates(data['Financials'][tab][period])" [value]="dateOption">{{ dateOption }}</option>
            </select>
            <button type="button" (click)="delDate(index)" *ngIf="dates.length > 1"><i class="fa-solid fa-xmark"></i></button>
          </th>
        </tr>
        <tr>
          <td>Total expenses</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Income_Statement"][period][date]["otherOperatingExpenses"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Income_Statement"][period][date]["otherOperatingExpenses"]) : '-' }}</td>
        </tr>
        <tr>
          <td>EBIT</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Income_Statement"][period][date]["ebit"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Income_Statement"][period][date]["ebit"]) : '-' }}</td>
        </tr>
        <tr>
          <td>EBITDA</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Income_Statement"][period][date]["ebitda"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Income_Statement"][period][date]["ebitda"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Reconciled depreciation</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Income_Statement"][period][date]["reconciledDepreciation"] !== null ? quoteComponent.intlFormatObjs['currency'].format(data["Financials"]["Income_Statement"][period][date]["reconciledDepreciation"]) : '-' }}</td>
        </tr>
      </table>
      <button type="button" (click)="addDate()" class="add" *ngIf="dates.length < 4"><i class="fa-solid fa-circle-plus"></i></button>
    </div>

    <h2>Ratios</h2>

    <h2 *ngIf="Object.keys(data['Financials'][tab][period]).length == 0">No Data</h2>

    <div *ngIf="Object.keys(data['Financials'][tab][period]).length > 0" class="table-wrapper">
      <table class="table border-style box-shadow" [ngStyle]="{'border-top-right-radius': (dates.length < 4) ? '0' : '10px'}">
        <tr>
          <th>Details</th>
          <th *ngFor="let date of dates; let index = index">
            <select [(ngModel)]="dates[index]">
              <option *ngFor="let dateOption of getDates(data['Financials'][tab][period])" [value]="dateOption">{{ dateOption }}</option>
            </select>
            <button type="button" (click)="delDate(index)" *ngIf="dates.length > 1"><i class="fa-solid fa-xmark"></i></button>
          </th>
        </tr>
        <tr>
          <td>R&D/total revenue</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Income_Statement"][period][date]["researchDevelopment"] !== null && data["Financials"]["Income_Statement"][period][date]["totalRevenue"] !== null ? (data["Financials"]["Income_Statement"][period][date]["researchDevelopment"] / data["Financials"]["Income_Statement"][period][date]["totalRevenue"]).toFixed(2) : '-' }}</td>
        </tr>
        <tr>
          <td>Gross profit margin</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Income_Statement"][period][date]["grossProfit"] !== null && data["Financials"]["Income_Statement"][period][date]["totalRevenue"] !== null ? quoteComponent.intlFormatObjs['percent'].format(data["Financials"]["Income_Statement"][period][date]["grossProfit"] / data["Financials"]["Income_Statement"][period][date]["totalRevenue"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Operating profit margin</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Income_Statement"][period][date]["operatingIncome"] !== null && data["Financials"]["Income_Statement"][period][date]["totalRevenue"] !== null ? quoteComponent.intlFormatObjs['percent'].format(data["Financials"]["Income_Statement"][period][date]["operatingIncome"] / data["Financials"]["Income_Statement"][period][date]["totalRevenue"]) : '-' }}</td>
        </tr>
        <tr>
          <td>Net profit margin</td>
          <td class="val" *ngFor="let date of dates; let index=index">{{ data["Financials"]["Income_Statement"][period][date]["netIncome"] !== null && data["Financials"]["Income_Statement"][period][date]["totalRevenue"] !== null ? quoteComponent.intlFormatObjs['percent'].format(data["Financials"]["Income_Statement"][period][date]["netIncome"] / data["Financials"]["Income_Statement"][period][date]["totalRevenue"]) : '-' }}</td>
        </tr>
      </table>
      <button type="button" (click)="addDate()" class="add" *ngIf="dates.length < 4"><i class="fa-solid fa-circle-plus"></i></button>
    </div>
  </div>
</div>

<app-premium-popup *ngIf="showPremiumPopup" src="financials" [host]="this"></app-premium-popup>
