<app-header></app-header>

<div class="content">
  <header>
    <h1>Economic Calendar</h1>

    <h2 style="font-weight: lighter">
      Real-time global economic data: past, forecast, current
    </h2>
  </header>

  <section>
    <div class="datepicker border-style box-shadow">
      <div class="datepicker-top">
        <div class="btn-group">
          <button class="tag border-style box-shadow" (click)="changeDate(currentDate.getMonth() - date.month, currentDate.getDate() - 1)">Yesterday</button>
          <button class="tag border-style box-shadow" (click)="changeDate(currentDate.getMonth() - date.month, currentDate.getDate())">Today</button>
          <button class="tag border-style box-shadow" (click)="changeDate(currentDate.getMonth() - date.month, currentDate.getDate() + 1)">Tomorrow</button>
        </div>
        <div class="month-selector">
          <button class="arrow border-style box-shadow" (click)="changeDate(-1, 1)"><i class="material-icons"><</i></button>
          <span class="month-name">{{ getCurrentMonth(date.year, date.month) }}</span>
          <button class="arrow border-style box-shadow" (click)="changeDate(1, 1)"><i class="material-icons">></i></button>
        </div>
      </div>
      <div class="datepicker-calendar">
        <span class="day" *ngFor="let day of ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su']">{{ day }}</span>
        <button *ngFor="let d of date.dates" [class.selected-day]="date.day == d.date && !d.faded" [class.current-day]="isCurrentDate(d.date) && !d.faded" [class.faded]="d.faded" class="date" (click)="changeDate(!d.faded ? 0 : -1, d.date)">{{ d.date }}</button>
      </div>
    </div>

    <h2 *ngIf="data.length == 0">No event.</h2>

    <table *ngIf="data.length > 0" mat-table [dataSource]="getDataFiltered()" class="table border-style box-shadow">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let result" [ngStyle]="{'font-weight': isNextEvent(result['date']) ? 'bold' : 'normal'}"><span *ngIf="isNextEvent(result['date'])" class="current-event">•</span> {{intlFormatObjs["hour"].format(result['date']) }} </td>
      </ng-container>
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef>
          <select *ngIf="countriesList.length > 1" name="Country" id="country" [(ngModel)]="country">
            <option value="">All countries</option>
            <option *ngFor="let country of countriesList" [value]="country">{{ country }}</option>
          </select>
          <span *ngIf="countriesList.length <= 1">Country</span>
        </th>
        <td mat-cell *matCellDef="let result"><img style="height: 10px" [src]="'https://flaglog.com/codes/standardized-rectangle-120px/'+result['country']+'.png'" alt="Country Flag"> {{result['country']}}</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Event </th>
        <td mat-cell *matCellDef="let result"> {{result['type']}} </td>
      </ng-container>
      <ng-container matColumnDef="previous">
        <th mat-header-cell *matHeaderCellDef> Previous </th>
        <td mat-cell *matCellDef="let result"> {{ result['previous'] !== null ? result['previous'] : '-' }} </td>
      </ng-container>
      <ng-container matColumnDef="estimation">
        <th mat-header-cell *matHeaderCellDef> Forecast </th>
        <td mat-cell *matCellDef="let result"> {{ result['estimate'] !== null ? result['estimate'] : '-' }} </td>
      </ng-container>
      <ng-container matColumnDef="actual">
        <th mat-header-cell *matHeaderCellDef> Actual </th>
        <td mat-cell [ngStyle]="{'color': variation(result['previous'], result['actual']) < 0 ? '#ff1a45' : (variation(result['previous'], result['actual']) > 0 ? '#1aff7e' : '#dad9d5')}" *matCellDef="let result">
          {{ result['actual'] !== null ? result['actual'] : '-' }}
          <ng-container *ngIf="result['actual'] !== null">
            ({{ intlFormatObjs['percent'].format(variation(result['previous'], result['actual'])) }})
          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['date', 'country', 'type', 'previous', 'estimation', 'actual'];"></tr>
      <tr mat-row *matRowDef="let row; columns: ['date', 'country', 'type', 'previous', 'estimation', 'actual'];">
      </tr>
    </table>
  </section>
</div>

<app-footer></app-footer>
