@import "../../styles.scss";

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  overflow: hidden !important;
  background: $surface-000;
}

.separator {
  height: 70%;
  width: 2px;
  min-width: 2px;
  background-color: $surface-400;
}

.h-separator {
  height: 2px;
  width: 100%;
  background-color: $surface-300
}

header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 20px;
  background: $surface-100;
  font-size: 0.95em;
}

.left-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.left-section > a, .left-section > div {
  height: 5vw
}

.info a {
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
}

.info a img {
  height: 55%;
}

.info .symbol:hover {
  background: $surface-100
}

.info .symbol {
  align-items: center;
  padding: 0 15px 0 8px;
  border-radius: 10px;
  background: $surface-200;
  transition: background .3s;
  cursor: pointer
}

.info a {
  display: flex;
  justify-content: center;
  align-items: center
}

.info .symbol .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 3.5vw;
  width: 3.5vw;
  box-sizing: border-box;
  margin: 0 10px 0 0;
  color: black;
  font-size: 1.3em;
  font-weight: 700;
  background-color: $text-100;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid $neutral-100;
}

.info .symbol .icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  transition: opacity .2s;
  text-shadow: 0 0 5px $text-100;
}

.info .symbol .name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start
}

.info .symbol .name {
  margin-left: 10px;
}

.info .symbol .name h1 {
  white-space: nowrap;
  overflow-x: hidden;
  max-width: 250px;
  text-overflow: ellipsis;
}

.info h1 {
  font-size: 1.3em;
  font-weight: 900;
}

.info h2 {
  font-size: 1em;
  font-weight: 400;
}

.info h2:not(.value) {
  color: $text-200
}

.info .symbol, .values div {
  display: flex;
}

.values div h1 {
  margin-right: 10px
}

.exchange, .values {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start
}

.exchange div, .values div {
  align-items: center
}

.exchange h2:not(.value) {
  margin-left: 10px
}

.exchange div, .exchange div div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start
}

.exchange div div {
  align-items: center;
  height: 25px;
  padding: 0 10px;
  border-radius: 10px
}

.exchange div div div {
  height: 5px;
  width: 5px;
  margin-right: 5px;
  padding: 0;
  border-radius: 50%
}

.exchange div div h2 {
  margin-left: 0;
  font-weight: 600
}

.user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  min-width: 40px;
  border-radius: 50%;
  border: 1px solid $neutral-100;
  background-color: $surface-300;
  transition: background-color .2s;
}

.info > .user-icon {
  position: sticky;
  right: 0;
}

button.user-icon:hover {
  background-color: $surface-400;
}

.user-icon i {
  color: $text-200;
  font-size: 16px;
}

.user-menu {
  flex-direction: column-reverse;
  justify-content: center;
  position: absolute;
  top: 70px;
  right: 15px;
  height: fit-content !important;
  max-width: 400px;
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
  background: $surface-200;
  transform-origin: top right;
  z-index: 2;
}

.user-menu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.user-menu .user-icon {
  width: 35px;
  height: 35px;
}

.user-menu button, .user-menu a {
  width: 100%;
  box-sizing: border-box;
}

.user-menu .sign-in-btn {
  color: $blue-100;
  border: 1px solid transparent;
}

.user-menu .sign-in-btn:hover {
  border: 1px solid $blue-100;
  background-color: $blue-300 !important
}

.view-profile-btn {
  justify-content: flex-start !important;
  gap: 5px;
}

.view-profile-btn .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 900;
}

.view-profile-btn p {
  font-size: 12px;
  font-weight: 600;
}

.user-menu .logout-btn {
  color: $red-100;
  border: 1px solid transparent;
}

.user-menu .logout-btn:hover {
  border: 1px solid $red-100;
  background-color: $red-300 !important
}

li a, li button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: background-color 0.2s;
}

li a:hover, li button:hover {
  border: 1px solid $neutral-100;
  background-color: $surface-300;
}

.tabs {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(5, 1fr);
  gap: 7px;
  width: fit-content;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  transform: translateY(1.65px);
  padding-right: 15px;
  z-index: 2;
}

.tabs .tab {
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding: 3px 7vw 5px 20px;
  float: left;
  cursor: pointer;
  background-color: $surface-200;
  border: 1px solid $neutral-100;
  border-radius: 10px;
  transition: background-color .3s;
  font-family: "Open Sans", sans-serif;
  vertical-align: middle;
  font-size: 1.1em;
  color: $text-100;
  font-weight: 700
}

.tabs .tab:not(.selected):hover {
  background-color: $surface-300;
}

.tabs .selected {
  background-color: $surface-100;
  padding-bottom: 14.25px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid $neutral-100;
  border-bottom: none;
  transition: background-color 0s;
}

.tabs .tab:not(:first-child).selected:before, .tabs .selected:after {
  position: absolute;
  content: " ";
  width: 15px;
  height: 15px;
  border-bottom: 2px solid $surface-400;
  bottom: 0;
}

.tabs .tab:not(:first-child).selected:before {
  border-bottom-right-radius: 100%;
  left: -15px;
  box-shadow: 5px 5px 0 0 #121212;
}

.tabs .selected:after {
  border-bottom-left-radius: 100%;
  right: -15px;
  box-shadow: -5px 5px 0 0 #121212;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.loading-screen {
  display: flex;
  height: 100%;
  width: 100%
}

.loading-screen div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(-90deg, $surface-100 45%, rgba($surface-200, 0.5) 50%, $surface-100 60%, $surface-100 100%), $surface-100;
  background-size: 200% 200%;
  animation: loadingGradient 1s ease infinite;
}

.loading-screen mat-spinner {
  stroke: $surface-500
}

@media screen and (max-width: 500px) {
  .tabs .tab {
    padding-right: 35px;
  }
}

@media screen and (max-width: 850px) {
  .left-section > a, .left-section > div {
    height: 45px;
  }

  .info .symbol .icon {
    height: 30px;
    width: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .left-section > a, .left-section > div {
    height: 55px;
  }

  .info .symbol .icon {
    height: 40px;
    width: 40px;
  }

  .tabs .tab {
    padding-right: 80px;
  }
}

@media (hover: hover) {
  .info .symbol:hover .icon i {
    opacity: 1;
    backdrop-filter: blur(3px);
  }
}

@keyframes loadingGradient {
  0% {
    background-position: 115% 0%;
  }
  100% {
    background-position: -20% 0%;
  }
}
