<header>
  <div class="info border-style box-shadow" [style.margin-bottom]="fundamentalData && fundamentalData!['General']['Type'] != 'Currency' ? '0' : '5px'">
    <div class="left-section">
      <a href="/"><img src="../../assets/img/logo_light_trans.webp" alt="Finalyzing"></a>

      <div class="separator"></div>

      <div class="symbol border-style box-shadow" (click)="appComponent.toggleSearch()" id="search">
        <div class="icon" appTickerLogo [ticker]="ticker"><i class="fa-solid fa-magnifying-glass"></i></div>
        <div class="name">
          <h1 *ngIf="fundamentalData">{{fundamentalData['General']['Name']}}</h1>
          <h2>{{ticker}}</h2>
        </div>
      </div>

      <button type="button" (click)="appComponent.toggleWatchlist(ticker); $event.stopPropagation();">
        <i class="fa-regular fa-bookmark fa-lg" *ngIf="!appComponent.isLoggedIn"></i>
        <i class="fa-regular fa-bookmark fa-lg" *ngIf="appComponent.isLoggedIn && !appComponent.user['watchlist'].includes(ticker)"></i>
        <i class="fa-solid fa-bookmark fa-lg" style="color: #FFD700" *ngIf="appComponent.isLoggedIn && appComponent.user['watchlist'].includes(ticker)"></i>
      </button>

      <div class="separator" *ngIf="technicalData['historical'][0]"></div>

      <div class="values" *ngIf="technicalData['historical'][0]">
        <div>
          <h1>{{intlFormatObjs['currency'].format(technicalData['historical'].slice(-1)[0]['c'])}}</h1>
          <h2 class="value" [ngClass]="{'pos': technicalData['historical'].slice(-1)[0]['c'] - technicalData['historical'].slice(-1)[0]['o'] > 0, 'neg': technicalData['historical'].slice(-1)[0]['c'] - technicalData['historical'].slice(-1)[0]['o'] < 0}">
            {{intlFormatObjs['decimal'].format(technicalData['historical'].slice(-1)[0]['c'] - technicalData['historical'].slice(-1)[0]['o'])}} ({{intlFormatObjs['percent'].format((technicalData['historical'].slice(-1)[0]['c'] - technicalData['historical'].slice(-1)[0]['o']) / technicalData['historical'].slice(-1)[0]['o'])}})
          </h2>
        </div>
        <div class="details">
          <h2>open : {{intlFormatObjs['decimal'].format(technicalData['historical'].slice(-1)[0]['o'])}} &nbsp; high
            : {{intlFormatObjs['decimal'].format(technicalData['historical'].slice(-1)[0]['h'])}} &nbsp; low
            : {{intlFormatObjs['decimal'].format(technicalData['historical'].slice(-1)[0]['l'])}}</h2>
        </div>
      </div>

      <div class="separator" *ngIf="exchangeDetails['Code']"></div>

      <div class="exchange" *ngIf="exchangeDetails['Code']">
        <h1>Market status</h1>
        <div>
          <h2 *ngIf="exchangeDetails['isOpen']" class="value pos">• opened</h2>
          <h2 *ngIf="!exchangeDetails['isOpen']" class="value neg">• closed</h2>
          <h2 *ngIf="exchangeDetails['isOpen']">Closing at : {{exchangeDetails['TradingHours']['Close']}}</h2>
          <h2 *ngIf="!exchangeDetails['isOpen']">Opening at : {{exchangeDetails['TradingHours']['Open']}}{{marketStatusDay}}</h2>
        </div>
      </div>
    </div>

    <button #userBtn class="user-icon box-shadow" (click)="userOpenMenu = !userOpenMenu" [style.width]="userBtn.offsetHeight + 'px'"><i class="fa-regular fa-user"></i></button>
  </div>

  <div class="tabs" *ngIf="fundamentalData && fundamentalData!['General']['Type'] != 'Currency'">
    <button type="button" class="tab border-style" [ngClass]="{'selected': selectTab == 'general'}" (click)="this.selectTab = 'general'" *ngIf="fundamentalData && fundamentalData['General']['Type'] != 'INDEX'">
      General
    </button>
    <button type="button" class="tab border-style" [ngClass]="{'selected': selectTab == 'composition'}" (click)="this.selectTab = 'composition'" *ngIf="fundamentalData['General']['Type'] == 'ETF' || fundamentalData['General']['Type'] == 'INDEX'">
      Composition
    </button>
    <button type="button" class="tab border-style" [ngClass]="{'selected': selectTab == 'technical'}" (click)="this.selectTab = 'technical'">
      Chart
    </button>
    <button type="button" class="tab border-style" [ngClass]="{'selected': selectTab == 'financials'}" (click)="this.selectTab = 'financials'" *ngIf="fundamentalData['General']['Type'] == 'Common Stock'">
      Financials
    </button>
    <button type="button" class="tab border-style" [ngClass]="{'selected': selectTab == 'earnings'}" (click)="this.selectTab = 'earnings'" *ngIf="fundamentalData['General']['Type'] == 'Common Stock'">
      Earnings
    </button>
    <button type="button" class="tab border-style" [ngClass]="{'selected': selectTab == 'news'}" (click)="this.selectTab = 'news'; loadNews()" *ngIf="fundamentalData['General']['Type'] == 'Common Stock'">
      News
    </button>
  </div>
</header>

<div class="content-wrapper">
  <app-general id="general" (scroll)="logoutScrollCheck($event)" [ngStyle]="{'display': this.selectTab=='general' ? 'flex' : 'none'}" [data]="fundamentalData" [ticker]="ticker" *ngIf="fundamentalData && fundamentalData['General']['Type'] != 'INDEX'"></app-general>

  <app-technical id="technical" (scroll)="logoutScrollCheck($event)" [ngStyle]="{'display': selectTab=='technical' ? 'flex' : 'none'}" [data]="technicalData" *ngIf="technicalData['historical'][0]; else loadingScreen"></app-technical>

  <app-financials id="financials" (scroll)="logoutScrollCheck($event)" [ngStyle]="{'display': this.selectTab=='financials' ? 'flex' : 'none'}" [data]="fundamentalData" [ticker]="ticker" *ngIf="fundamentalData && fundamentalData['General']['Type'] == 'Common Stock'"></app-financials>

  <app-earnings id="earnings" (scroll)="logoutScrollCheck($event)" [ngStyle]="{'display': this.selectTab=='earnings' ? 'flex' : 'none'}" [data]="fundamentalData" [ticker]="ticker" *ngIf="fundamentalData && fundamentalData['General']['Type'] == 'Common Stock'"></app-earnings>

  <app-news id="news" (scroll)="logoutScrollCheck($event)" [ngStyle]="{'display': this.selectTab=='news' ? 'flex' : 'none'}" [data]="fundamentalData" [ticker]="ticker" *ngIf="fundamentalData && fundamentalData['General']['Type'] == 'Common Stock'"></app-news>

  <app-composition id="composition" (scroll)="logoutScrollCheck($event)" [ngStyle]="{'display': this.selectTab=='composition' ? 'flex' : 'none'}" [data]="fundamentalData" [ticker]="ticker" *ngIf="fundamentalData && (fundamentalData['General']['Type'] == 'ETF' || fundamentalData['General']['Type'] == 'INDEX')"></app-composition>

  <ng-template #loadingScreen>
    <div class="loading-screen" *ngIf="selectTab=='technical'">
      <div class="border-style">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </ng-template>
</div>

<div class="user-menu border-style box-shadow" *ngIf="userOpenMenu">
  <ul>
    <ng-container *ngIf="appComponent.isLoggedIn == false">
      <li>
        <button (click)="appComponent.toggleLoginDialog()" class="sign-in-btn"><i class="fa-regular fa-user"></i>&nbsp; Sign In</button>
      </li>
      <li>
        <button (click)="appComponent.toggleRegisterDialog()">Sign Up</button>
      </li>
    </ng-container>

    <ng-container *ngIf="appComponent.isLoggedIn">
      <li>
        <a class="view-profile-btn" href="/profile"><div class="user-icon"><i class="fa-regular fa-user"></i></div>&nbsp; <div class="text">{{appComponent.user['username']}} <p>View profile</p></div></a>
      </li>
      <div class="h-separator"></div>
      <li>
        <a href="/profile">Account Settings</a>
      </li>
      <li>
        <button (click)="createBillingPortalSession()">Billing</button>
      </li>
    </ng-container>

    <ng-container *ngIf="appComponent.isLoggedIn">
      <div class="h-separator"></div>

      <li>
        <a href="/portfolio">Portfolios</a>
      </li>
    </ng-container>

    <div class="h-separator"></div>

    <li>
      <a href="mailto:support@finalyzing.com" target="_blank">Send feedback &nbsp; <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </li>

    <ng-container *ngIf="appComponent.isLoggedIn">
      <div class="h-separator"></div>
      <li>
        <button (click)="appComponent.logout()" class="logout-btn">Sign Out &nbsp; <i class="fa-solid fa-arrow-right-from-bracket"></i></button>
      </li>
    </ng-container>
  </ul>
</div>
