@import "../../styles.scss";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $surface-000
}

h1 {
  color: $text-100;
  font-family: "Montserrat",sans-serif;
  font-size: 4em;
  font-weight: 800
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home-header-section {
  position: relative;
}

.home-header-section.logged-in {
  background: radial-gradient(circle farthest-corner at 50% -100%,
    rgba($surface-000, 1)   60%,
    rgba($surface-100, 1)   80%,
    rgba($primary-300, .8)  85%,
    rgba($primary-200, .85) 87.5%,
    rgba($primary-100, .9)  92.5%,
    rgba($blue-100, 1)      97.5%
  );
}

.home-header-section.logged-out {
  background:
    radial-gradient(circle at 100% -20%,
      rgba($blue-100, 1)      0%,
      rgba($primary-100, .9)  15%,
      rgba($primary-200, .85) 25%,
      rgba($primary-300, .8)  30%,
      rgba($surface-100, 1)   40%,
      rgba($surface-000, 1)   50%,
      transparent 60%
    ),
    radial-gradient(circle at 0 160%,
      rgba($blue-100, 1)      0%,
      rgba($primary-100, .9)  20%,
      rgba($primary-200, .85) 30%,
      rgba($primary-300, .8)  35%,
      rgba($surface-100, 1)   45%,
      rgba($surface-000, 1)   55%,
      transparent 65%
    ),
    linear-gradient(180deg, black 0%, transparent 75%, transparent 100%);
}

.home-header {
  display: flex;
  height: 100svh;
  width: 90%;
  max-width: 1280px;
}

.home-header-section.logged-out .home-header {
  align-items: center;
  justify-content: space-between;
}

.home-header-section.logged-in .home-header {
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  gap: 50px;
}

.home-header .top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  gap: 40px;
  width: 100%;
  text-align: center;
}

.home-header-section.logged-in .home-header .shortcuts-wrapper {
  overflow-x: auto;
  box-sizing: border-box;
}

.home-header-section.logged-in .home-header .shortcuts {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.home-header-section.logged-in .home-header .shortcuts h2 {
  font-size: 2.5em;
}

.home-header-section.logged-in .home-header .shortcuts > a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  position: relative;
  height: 260px;
  padding: 20px 20px 0 20px;
  overflow: hidden;
  box-sizing: border-box;
  text-decoration: none;
  transition: background .3s;
}

.home-header-section.logged-in .home-header .shortcuts > a:hover {
  background: rgba($surface-100, 0.6);
}

.home-header-section.logged-in .home-header .shortcuts > a header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.home-header-section.logged-in .home-header .shortcuts > a header h2 {
  color: $text-100;
  font-weight: 900;
}

.home-header-section.logged-in .home-header .shortcuts > a header select {
  max-width: 30%;
  background-color: $surface-200;
  font-size: 1.5em;
  text-overflow: ellipsis
}

.home-header-section.logged-in .home-header .shortcuts button.no-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 35px;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.2s;
  color: $text-100;
  background-color: $primary-100;
  font-size: 1.5em;
}

.home-header-section.logged-in .home-header .shortcuts > a.group-preview .actual {
  font-size: 0.4em;
}

.home-header-section.logged-in .home-header .shortcuts > a > .chart-preview-container {
  display: flex;
  flex-grow: 1;
  margin: 5px;
}

.home-header-section.logged-in .home-header .shortcuts > a > .chart-preview-container canvas {
  flex-grow: 1;
  width: 0 !important;
  height: 130px;
}

.home-header .left-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 2;
  gap: 30px;
  width: 55%;
}

.home-header .left-section h1,
.home-header .top-section h1 {
  font-size: 4.85em;
  font-weight: 800;
}

.home-header .left-section h2 {
  font-size: 3.5em;
  font-weight: lighter;
}

.home-header .left-section h2 span {
  font-weight: bold;
  background: linear-gradient(90deg, $primary-100 20%, $red-100 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-header .actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.home-header .search-box {
  display: flex;
  gap: 10px;
}

.home-header .search-box input {
  height: 4.5vw;
  width: 35vw;
  background-color: $text-100;
  font-size: 1.2em;
  color: $surface-100;
  cursor: pointer;
  border-radius: 25px;
}

.home-header .search-box button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5vw;
  width: 4.5vw;
  background-color: $primary-100;
  border-radius: 50%;
  vertical-align: middle;
  transition: .2s background-color;
}

.home-header .search-box button:hover {
  background-color: $primary-200;
}

.quote-shortcuts {
  display: flex;
  gap: 10px;
}

.quote-shortcuts a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 15px 5px 7px;
  border-radius: 30px;
  background-color: $text-100;
  border: 1px solid $neutral-100;
  text-decoration: none;
  transition: background-color .2s
}

.quote-shortcuts a:hover {
  background-color: $text-200;
}

.quote-shortcuts .texts {
  display: flex;
  flex-direction: column;
  color: $surface-000;
  font-size: 0.9em;
  font-weight: 800;
}

.quote-shortcuts .texts span {
  color: $surface-100;
  font-size: 0.8em;
  font-weight: 600;
}

.quote-shortcuts .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 3vw;
  width: 3vw;
  max-height: 30px;
  max-width: 30px;
  min-height: 20px;
  min-width: 20px;
  box-sizing: border-box;
  color: black;
  font-size: 1.3em;
  font-weight: 700;
  background-color: $text-100;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 2px 10px 2px rgba(10, 10, 10, 0.3)
}

.home-header-section .right-section {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  width: 58vw;
  overflow: hidden;
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.home-header-section .right-section img {
  height: 95vh;
}

.home-header-section .fa-chevron-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.description-section {
  background: radial-gradient(circle at 0 150%, $primary-100 0%, transparent 50%), radial-gradient(circle at 100% 150%, $blue-200 0%, transparent 40%);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  height: 100%;
  width: 90%;
  max-width: 1200px;
  padding: 125px 0 0 0;
  text-align: center;
}

.description > h2 {
  font-size: 2.5em;
  font-weight: lighter;
}

.description .stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.description .stats .card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  background: $surface-200;
  color: $text-100;
  font-size: 2em;
  font-weight: 700;
  cursor: default;
}

.description video {
  width: 100%;
  mask-image: linear-gradient(to bottom, black 85%, rgba(0, 0, 0, 0.2) 100%);
  border: 1px solid $neutral-100;
  border-radius: 10px 10px 0 0;
}

.market-preview-section {
  background: radial-gradient(circle at 100% -20%, $surface-200 0%, transparent 50%), radial-gradient(circle at 0 150%, $surface-200 0%, transparent 40%), $surface-100;
}

.market-preview {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100%;
  width: 90%;
  max-width: 1280px;
  padding: 100px 0;
}

.market-preview .header h1 {
  font-size: 2.5em;
}

.market-preview .types {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.market-preview .types div {
  height: 30px;
  padding: 0 15px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  background-color: $surface-200;
  color: $text-100;
  font-size: 1em;
  font-weight: bold;
  transition: background-color 0.5s;
  cursor: pointer;
}

.market-preview .types div:hover {
  background-color: $surface-300;
}

.market-preview .types div.highlight {
  background-color: $surface-400;
}

.tickers-list-wrapper {
  position: relative;
}

.tickers-list-wrapper > button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 100%;
}

.tickers-list-wrapper button.chevron-left {
  left: 10px;
}

.tickers-list-wrapper button.chevron-right {
  right: 10px;
}

.tickers-list {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  overflow-y: visible;
  padding: 20px;
  margin: 0 -20px;
  transform: translateZ(0);
}

.ticker {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  white-space: nowrap;
  background-color: $surface-200;
  text-decoration: none;
  transition: background-color 0.5s;
}

.ticker h2 {
  font-size: 2.5em
}

.ticker h2:not(.value) {
  color: $text-200;
  font-weight: normal;
}

.ticker:not(.empty-watchlist):hover {
  background-color: $surface-300;
}

.ticker .profile {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 0.4em;
}

.ticker .profile .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  padding: 5px;
  box-sizing: border-box;
  color: $surface-100;
  font-size: 22px;
  font-weight: 700;
  background-color: $text-100;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid $neutral-100;
}

.ticker .profile .name {
  display: flex;
  flex-direction: column;
}

.ticker .profile .name h1 {
  overflow-x: hidden;
  max-width: 275px;
  text-overflow: ellipsis;
}
.ticker .values {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.4em;
}

.actual,
.ticker .values .refund {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ticker .values .refund {
  font-size: 0.8em;
}

.ticker .values .refund h1 {
  font-weight: 300;
}

.ticker.empty-watchlist {
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.ticker.empty-watchlist h2 {
  font-size: 1.5em !important;
}

.ticker.empty-watchlist button {
  width: fit-content;
  padding: 5px 10px;
  background-color: $primary-100;
  transition: background-color .2s;
}

.loading-card {
  height: 143px;
  min-width: 300px;
  background: linear-gradient(-90deg, $surface-200 45%, $surface-300 50%, $surface-200 60%, $surface-200 100%), $surface-200;
  background-size: 200% 200%;
  animation: loadingGradient 1s ease infinite;
}

.home-news {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  width: 90%;
  max-width: 1280px;
  padding: 100px 0;
}

.home-news .category {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-news .tag {
  font-size: 2.5em;
}

.news-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.news {
  position: relative;
  max-height: 300px;
  padding: 20px;
  overflow: hidden;
  text-decoration: none;
  background: $surface-200;
  transition: background .5s;
}

.news:hover {
  background: $surface-300;
}

.news h2 {
  max-width: 80%;
}

.news h3 {
  color: $text-200;
  font-weight: lighter;
  margin: 5px 0;
}

.news a {
  color: $blue-100;
  text-decoration: none;
}

.news .symbols {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.news .symbols div {
  height: 20px;
  padding: 0 7px;
  border-radius: 7px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  background-color: $surface-300;
  color: $text-100;
  font-size: 0.7em;
}

.eod-section {
  background: radial-gradient(circle at 100% -20%, rgba($surface-400, 0.3) 0%, transparent 50%), radial-gradient(circle at 0 150%, #934a39 0%, transparent 40%), $surface-100;
}

.eod {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 100%;
  width: 90%;
  max-width: fit-content;
  padding: 50px 0;
}

.eod .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.eod .header div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.eod .header h1 {
  font-size: 2.8em;
}

.eod .header h2 {
  font-size: 2em;
}

.eod a,.eod .header img {
  filter: drop-shadow(0px 0px 20px rgba($secondary-200, 0.4))
}

.eod .header img {
  height: 10vw;
  max-height: 110px;
  min-height: 75px;
  width: auto;
}

.eod .stats, .eod p {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.eod .stats {
  justify-content: space-between;
  padding: 10px;
  background-color: rgba($surface-200, .7);
  text-align: center;
  box-sizing: border-box;
}

.eod .stats strong {
  font-size: 1.5em;
}

.eod .stats span {
  margin: 4px;
  font-size: 1em;
  font-weight: 600;
}

.eod p {
  padding: 10px;
  font-size: 1.5em;
  text-align: center;
}

.eod a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  background-color: $secondary-200;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.5em;
  transition: background-color .2s
}

.eod a:hover {
  background-color: $secondary-300
}

.home-header-loading-section {
  width: 100vw;
  height: 100vh;
  background:
    radial-gradient(circle at 100% -20%,
      rgba($blue-100, 1)      0%,
      rgba($primary-100, .9)  15%,
      rgba($primary-200, .85) 25%,
      rgba($primary-300, .8)  30%,
      rgba($surface-100, 1)   40%,
      rgba($surface-000, 1)   50%,
      transparent 60%
    ),
    radial-gradient(circle at 0 160%,
      rgba($blue-100, 1)      0%,
      rgba($primary-100, .9)  20%,
      rgba($primary-200, .85) 30%,
      rgba($primary-300, .8)  35%,
      rgba($surface-100, 1)   45%,
      rgba($surface-000, 1)   55%,
      transparent 65%
    ),
    linear-gradient(180deg, black 0%, transparent 75%, transparent 100%);
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(108, 108, 108, 0.25);
}

.loading-screen mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  stroke: $surface-500;
}

@media screen and (max-width: 690px) {
  .home-header-section.logged-out .left-section {
    width: 100%;
  }

  .home-header-section.logged-out .right-section {
    display: none;
  }

  .home-header-section.logged-in .home-header {
    justify-content: space-around;
    gap: 20px;
  }

  .home-header-section.logged-in .home-header .top-section {
    padding-top: 75px;
    gap: 15px;
  }

  .home-header-section.logged-in .home-header .shortcuts-wrapper {
    width: 100vw;
    margin-left: -20px;
    padding: 20px;
  }

  .home-header-section.logged-in .home-header .shortcuts {
    width: 200%;
  }

  .home-header-section.logged-in .home-header .shortcuts > a {
    height: 222px;
  }

  .description {
    gap: 35px;
    padding: 80px 0 0 0;
  }

  .description .stats {
    grid-template-columns: 1fr;
    gap: 20px;
    min-height: 250px;
  }

  .market-preview {
    padding: 50px 0;
  }

  .news-container {
    grid-template-columns: 1fr;
  }

  .home-news {
    padding: 50px 0;
  }
}

@media screen and (max-width: 768px) {
  .home-header .search-box input {
    height: 35px;
    width: 270px;
  }

  .home-header .search-box button {
    height: 35px;
    width: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .home-header .search-box input {
    height: 55px;
    width: 420px;
  }

  .home-header .search-box button {
    height: 55px;
    width: 55px;
  }
}

@keyframes loadingGradient {
  0% {
    background-position: 115% 0%;
  }
  100% {
    background-position: -20% 0%;
  }
}
