<app-header></app-header>

<section *ngIf="app.isLoggedIn == undefined" class="home-header-loading-section">
  <div class="loading-screen">
    <mat-spinner></mat-spinner>
  </div>
</section>

<section *ngIf="app.isLoggedIn == false" class="home-header-section logged-out">
  <div class="home-header">
    <div class="left-section">
      <div class="titles">
        <h1>Stay one step ahead.</h1>
        <h2>Analyze <span [@textChange]="textState">{{texts[textIndex]}}</span></h2>
      </div>

      <div class="actions">
        <div class="search-box">
          <input class="border-style" value="Search for a quote" type="button" (click)='app.toggleSearch()'>
          <button type="button" aria-label="Search" (click)='app.toggleSearch()'><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>

        <div class="quote-shortcuts">
          <a href="/quote/AAPL.US">
            <div class="logo" appTickerLogo ticker="AAPL.US"></div>
            <div class="texts">
              AAPL.US
              <span>{{intlFormatObjs['currency'].format(homePrices['AAPL.US'])}}</span>
            </div>
          </a>
          <a href="/quote/MSFT.US">
            <div class="logo" appTickerLogo ticker="MSFT.US"></div>
            <div class="texts">
              MSFT.US
              <span>{{intlFormatObjs['currency'].format(homePrices['MSFT.US'])}}</span>
            </div>
          </a>
          <a href="/quote/BTC-USD.CC">
            <div class="logo" appTickerLogo ticker="BTC-USD.CC"></div>
            <div class="texts">
              BTC-USD.CC
              <span>{{intlFormatObjs['currency'].format(homePrices['BTC-USD.CC'])}}</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="right-section">
    <img src="../../assets/img/home/home_mockups.png" alt="Finalyzing Mockups">
  </div>

  <i class="fa-solid fa-chevron-down"></i>
</section>

<section *ngIf="app.isLoggedIn" class="home-header-section logged-in">
  <div class="home-header">
    <div class="top-section">
      <div class="titles">
        <h1 class="text-shadow username-tw">Welcome{{ window.screen.width > 690 ? ' back' : '' }}, {{app.user['username']}}</h1>
      </div>

      <div class="actions">
        <div class="search-box">
          <input class="border-style" value="Search for a quote" type="button" (click)='app.toggleSearch()'>
          <button type="button" aria-label="Search" (click)='app.toggleSearch()'><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      </div>
    </div>

    <div class="shortcuts-wrapper">
      <div class="shortcuts">
        <a href="/portfolio" class="border-style glass-morphism group-preview">
          <header>
            <h2>Portfolio</h2>
            <select *ngIf="this.allPositions.length > 0" [ngModel]="group" (ngModelChange)="changeGroup($event)" (click)="$event.stopPropagation(); $event.preventDefault()">
              <option *ngFor="let g of groups" [ngValue]="g">{{g['name']}}</option>
            </select>
          </header>

          <div *ngIf="this.allPositions.length > 0 && data['group']['value']" class="actual">
            <h1>{{intlFormatObjs['currency'].format(data['group']['value'].slice(-1)[0]['y'])}}</h1>
            <h2 class="value" [ngClass]="{'pos': data['group']['value'].slice(-1)[0]['y'] - data['group']['value'][0]['y'] > 0, 'neg': data['group']['value'].slice(-1)[0]['y'] - data['group']['value'][0]['y'] < 0}">
              {{intlFormatObjs['decimal'].format(data['group']['value'].slice(-1)[0]['y'] - data['group']['value'][0]['y'])}} ({{intlFormatObjs['percent'].format((data['group']['value'].slice(-1)[0]['y'] - data['group']['value'][0]['y']) / data['group']['value'][0]['y'])}})
            </h2>
          </div>

          <div *ngIf="this.allPositions.length > 0 && data['group']['value']" class="chart-preview-container">
            <canvas baseChart #previewChart [data]="getPreviewConfig(data['group']['value'])['data']" [options]="getPreviewConfig(data['group']['value'])['options']" [type]="getPreviewConfig(data['group']['value'])['type']" height="0"></canvas>
          </div>

          <button type="button" *ngIf="this.allPositions.length == 0" class="no-portfolio box-shadow">Start Now</button>
        </a>

        <a class="border-style glass-morphism">
          <header>
            <h2>Watchlist</h2>
          </header>

          <div class="tickers-list-wrapper">
            <div *ngIf="previewData['watchlist'] else loadingPreview" class="tickers-list" id="watchlist-tickers-list" style="mask-image: linear-gradient(to right, black 90%, transparent 100%); -webkit-mask-image: linear-gradient(to right, black 90%, transparent 100%)" (scroll)="horizontalScrollEffect($event)">
              <a *ngFor="let ticker of previewData['watchlist']" [href]="'/quote/'+ticker['code']" class="ticker border-style box-shadow">
                <div class="profile">
                  <div class="logo" appTickerLogo [ticker]="ticker['code']"></div>
                  <div class="name">
                    <h1>{{ticker['name']}}</h1>
                    <h2>{{ticker['code']}}</h2>
                  </div>
                </div>
                <div class="values">
                  <div class="actual">
                    <h1>{{intlFormatObjs['currency'].format(ticker['close'])}}</h1>
                    <h2 class="value" [ngClass]="{'pos': ticker['close'] - ticker['open'] > 0, 'neg': ticker['close'] - ticker['open'] < 0}">
                      {{intlFormatObjs['decimal'].format(ticker['close'] - ticker['open'])}} ({{intlFormatObjs['percent'].format((ticker['close'] - ticker['open']) / ticker['open'])}})
                    </h2>
                  </div>
                  <h2 class="ohl">
                    Open : {{intlFormatObjs['decimal'].format(ticker['open'])}} &nbsp;High : {{intlFormatObjs['decimal'].format(ticker['high'])}} &nbsp;Low : {{intlFormatObjs['decimal'].format(ticker['low'])}}
                  </h2>
                </div>
              </a>

              <div *ngIf="previewData['watchlist'].length == 0" class="ticker empty-watchlist border-style box-shadow">
                <h2>Your Watchlist is Empty</h2>
                <button type="button" (click)="app.toggleSearch()" class="border-style"><i class="fa-solid fa-circle-plus"></i>&nbsp; Add Items</button>
              </div>
            </div>
            <ng-template #loadingPreview>
              <div class="tickers-list" style="mask-image: linear-gradient(to right, black 90%, transparent 100%); -webkit-mask-image: linear-gradient(to right, black 90%, transparent 100%)">
                <div class="loading-card border-style box-shadow"></div>
                <div class="loading-card border-style box-shadow"></div>
                <div class="loading-card border-style box-shadow"></div>
                <div class="loading-card border-style box-shadow"></div>
              </div>
            </ng-template>
            <button type="button" aria-label="Left" class="chevron-left" hidden="hidden" (click)="horizontalScrollOnClick('watchlist-tickers-list', -400)">
              <i class="fa-solid fa-chevron-left fa-xl text-shadow"></i>
            </button>
            <button type="button" aria-label="Right" class="chevron-right" (click)="horizontalScrollOnClick('watchlist-tickers-list', 400)">
              <i class="fa-solid fa-chevron-right fa-xl text-shadow"></i>
            </button>
          </div>
        </a>
      </div>
    </div>
  </div>

  <i class="fa-solid fa-chevron-down"></i>
</section>

<section *ngIf="app.isLoggedIn == false" class="description-section">
  <div class="description">
    <h1>Improve the way you invest</h1>

    <h2>Diversify your sources of information while focusing on the essentials; there are no magical tools.</h2>

    <div class="stats">
      <h2 class="card border-style box-shadow">Manage Your Portfolios</h2>
      <h2 class="card border-style box-shadow">Explore Over +150,000 Quotes</h2>
      <h2 class="card border-style box-shadow">Analyze Over 215 Countries</h2>
    </div>

    <video src="../../assets/video/demo.mp4" autoplay="autoplay" muted="muted" loop="loop" playsinline="playsinline"></video>
  </div>
</section>

<section class="market-preview-section">
  <div class="market-preview">
    <div>
      <div class="header">
        <h1>Market preview</h1>
        <div class="types">
          <div class="border-style box-shadow" [ngClass]="{'highlight': previewType == 'stock'}" (click)="changePreviewType('stock')">Stock</div>
          <div class="border-style box-shadow" [ngClass]="{'highlight': previewType == 'crypto'}" (click)="changePreviewType('crypto')">Crypto</div>
          <div class="border-style box-shadow" [ngClass]="{'highlight': previewType == 'forex'}" (click)="changePreviewType('forex')">Forex</div>
          <div class="border-style box-shadow" [ngClass]="{'highlight': previewType == 'index'}" (click)="changePreviewType('index')">Index</div>
        </div>
      </div>
      <div class="tickers-list-wrapper">
        <div *ngIf="previewData['preview'][previewType] else loadingPreview" class="tickers-list" id="preview-tickers-list" style="mask-image: linear-gradient(to right, black 90%, transparent 100%); -webkit-mask-image: linear-gradient(to right, black 90%, transparent 100%)" (scroll)="horizontalScrollEffect($event)">
          <a *ngFor="let ticker of previewData['preview'][previewType]" [href]="'/quote/'+ticker['code']" class="ticker border-style box-shadow">
            <div class="profile">
              <div class="logo" appTickerLogo [ticker]="ticker['code']"></div>
              <div class="name">
                <h1>{{ticker['name']}}</h1>
                <h2>{{ticker['code']}}</h2>
              </div>
            </div>
            <div class="values">
              <div class="actual">
                <h1>{{intlFormatObjs['currency'].format(ticker['close'])}}</h1>
                <h2 class="value" [ngClass]="{'pos': ticker['close'] - ticker['open'] > 0, 'neg': ticker['close'] - ticker['open'] < 0}">
                  {{intlFormatObjs['decimal'].format(ticker['close'] - ticker['open'])}} ({{intlFormatObjs['percent'].format((ticker['close'] - ticker['open']) / ticker['open'])}})
                </h2>
              </div>
              <h2 class="ohl">
                Open : {{intlFormatObjs['decimal'].format(ticker['open'])}} &nbsp;High : {{intlFormatObjs['decimal'].format(ticker['high'])}} &nbsp;Low : {{intlFormatObjs['decimal'].format(ticker['low'])}}
              </h2>
            </div>
          </a>
        </div>
        <ng-template #loadingPreview>
          <div class="tickers-list" style="mask-image: linear-gradient(to right, black 90%, transparent 100%); -webkit-mask-image: linear-gradient(to right, black 90%, transparent 100%)">
            <div class="loading-card border-style box-shadow"></div>
            <div class="loading-card border-style box-shadow"></div>
            <div class="loading-card border-style box-shadow"></div>
            <div class="loading-card border-style box-shadow"></div>
          </div>
        </ng-template>
        <button type="button" aria-label="Left" class="chevron-left" hidden="hidden" (click)="horizontalScrollOnClick('preview-tickers-list', -400)">
          <i class="fa-solid fa-chevron-left fa-xl text-shadow"></i>
        </button>
        <button type="button" aria-label="Right" class="chevron-right" (click)="horizontalScrollOnClick('preview-tickers-list', 400)">
          <i class="fa-solid fa-chevron-right fa-xl text-shadow"></i>
        </button>
      </div>
    </div>

    <div>
      <div class="header">
        <h1>Trending markets (5d) <i class="fa-solid fa-arrow-trend-up"></i></h1>
        <div class="types">
          <div class="border-style box-shadow" [ngClass]="{'highlight': trendingType == 'US'}" (click)="changeTrendingType('US')">USA Stocks</div>
          <div class="border-style box-shadow" [ngClass]="{'highlight': trendingType == 'LSE'}" (click)="changeTrendingType('LSE')">London Exchange</div>
          <div class="border-style box-shadow" [ngClass]="{'highlight': trendingType == 'PA'}" (click)="changeTrendingType('PA')">Euronext Paris</div>
          <div class="border-style box-shadow" [ngClass]="{'highlight': trendingType == 'SHG'}" (click)="changeTrendingType('SHG')">Shanghai Exchange</div>
        </div>
      </div>
      <div class="tickers-list-wrapper">
        <div *ngIf="previewData['trending'][trendingType] else loadingTrending" class="tickers-list" id="trending-tickers-list" style="mask-image: linear-gradient(to right, black 90%, transparent 100%); -webkit-mask-image: linear-gradient(to right, black 90%, transparent 100%)" (scroll)="horizontalScrollEffect($event)">
          <a *ngFor="let ticker of previewData['trending'][trendingType]" [href]="'/quote/'+ticker['code']" class="ticker border-style box-shadow">
            <div class="profile">
              <div class="logo" appTickerLogo [ticker]="ticker['code']"></div>
              <div class="name">
                <h1>{{ticker['name']}}</h1>
                <h2>{{ticker['code']}}</h2>
              </div>
            </div>
            <div class="values">
              <div class="refund">
                <h1>5d return</h1>
                <h2 class="value" [ngClass]="{'pos': ticker['refund_5d'] > 0, 'neg': ticker['refund_5d'] < 0}">
                  {{intlFormatObjs['decimal'].format(ticker['refund_5d'])}} ({{intlFormatObjs['percent'].format(ticker['refund_5d_p']/100)}})
                </h2>
              </div>
              <div class="actual">
                <h1>{{intlFormatObjs['currency'].format(ticker['close'])}}</h1>
                <h2 class="value" [ngClass]="{'pos': ticker['close'] - ticker['open'] > 0, 'neg': ticker['close'] - ticker['open'] < 0}">
                  {{intlFormatObjs['decimal'].format(ticker['close'] - ticker['open'])}} ({{intlFormatObjs['percent'].format((ticker['close'] - ticker['open']) / ticker['open'])}})
                </h2>
              </div>
              <h2 class="ohl">
                Open : {{intlFormatObjs['decimal'].format(ticker['open'])}} &nbsp;High : {{intlFormatObjs['decimal'].format(ticker['high'])}} &nbsp;Low : {{intlFormatObjs['decimal'].format(ticker['low'])}}
              </h2>
            </div>
          </a>
        </div>
        <ng-template #loadingTrending>
          <div class="tickers-list" style="mask-image: linear-gradient(to right, black 90%, transparent 100%); -webkit-mask-image: linear-gradient(to right, black 90%, transparent 100%)">
            <div class="loading-card border-style box-shadow"></div>
            <div class="loading-card border-style box-shadow"></div>
            <div class="loading-card border-style box-shadow"></div>
            <div class="loading-card border-style box-shadow"></div>
          </div>
        </ng-template>
        <button type="button" class="chevron-left" hidden="hidden" (click)="horizontalScrollOnClick('trending-tickers-list', -400)">
          <i class="fa-solid fa-chevron-left fa-xl text-shadow"></i>
        </button>
        <button type="button" class="chevron-right">
          <i class="fa-solid fa-chevron-right fa-xl text-shadow" (click)="horizontalScrollOnClick('trending-tickers-list', 400)"></i>
        </button>
      </div>
    </div>
  </div>
</section>

<section class="home-news-section">
  <div class="home-news">
    <h1>News</h1>

    <div class="category" *ngFor="let tag of ['USA News', 'Earnings Release'], let index = index">
      <h2 class="tag">• Last {{tag}}</h2>

      <div class="news-container" *ngIf="newsData">
        <a class="news border-style" *ngFor="let news of newsData[index]" [href]="news['link']" target="_blank">
          <h2>{{cutName(news["title"], 95)}}</h2>
          <h3>{{elapsedTime(news['date'])}}</h3>
          <a [href]="news['link']">Source : {{getSource(news['link'])}}</a>
          <div class="symbols">
            <div *ngFor="let symbol of removeSimilarTickers(news['symbols'])">{{symbol}}</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="eod-section">
  <div class="eod">
    <div class="header">
      <img src="https://miro.medium.com/fit/c/176/176/1*GQdCdQCKNJkV2jTIov-V4g.png" alt="EOD Logo" height="110" width="110">
      <div>
        <h1>Data Provided By EODHD</h1>
        <h2>Financial Data APIs</h2>
      </div>
    </div>

    <div class="stats glass-morphism border-style box-shadow">
      <strong>70+ stock exchanges all over the world</strong>
      <div>
        <span>30+ years of data | 150,000+ tickers | 20,000+ ETFs | 600+ indices | 1,100+ forex pairs</span>
      </div>
    </div>

    <p>
      Access financial data easily to improve the quality of your analyses.<br> Get technical and fundamental data as well as macroeconomic data.
    </p>

    <a href="https://eodhistoricaldata.com/r/?ref=8OHQ6DYG" target="_blank">
      Learn more about EODHD
    </a>
  </div>
</section>

<app-footer></app-footer>
