<header>
  <div class="info border-style box-shadow">
    <a href="/"><img src="../../assets/img/logo_light_trans.webp" alt="Finalyzing"></a>

    <div class="separator"></div>

    <div class="country-list">
      <div *ngFor="let country of countries, let index = index" class="symbol border-style box-shadow" [ngClass]="{'deletable': countries.length > 1}" (click)="deleteCountry(index); searchTab='countries'" id="search">
        <div class="icon">
          <img id="icon" [src]="'https://raw.githubusercontent.com/adamoliver/Country-Flags-ISO-3/master/gif/'+country.toLowerCase()+'.gif'" alt="Country Flag">
          <i *ngIf="countries.length > 1" class="fa-solid fa-trash fa-lg"></i>
        </div>
        <div class="name">
          <h1>{{getNameFromCode(country, 'country')}}</h1>
          <h2>{{country}}</h2>
        </div>
      </div>
    </div>

    <button type="button" (click)="toggleSearch(); searchTab='countries'" class="add-country-btn border-style box-shadow"><i class="fa-light fa-plus fa-2xl"></i></button>
  </div>

  <div class="tabs">
    <button type="button" [ngClass]="{'selected': selectedTab == 'chart', 'tab': true}" (click)="selectedTab = 'chart'">
      Chart
    </button>
    <button type="button" [ngClass]="{'selected': selectedTab == 'table', 'tab': true}" (click)="selectedTab = 'table'">
      Table
    </button>
  </div>
</header>

<div class="content-wrapper">
  <div class="chart-tab" [ngStyle]="{'display': selectedTab == 'chart' ? 'flex' : 'none'}">
    <div class="chart-and-controls-wrapper">
      <div class="app-chart">
        <div class="carousel-container">
          <div class="carousel-wrapper" [ngStyle]="{'transform': 'translateX(-' + selectedIndi * 100 + '%)'}">
            <canvas baseChart *ngFor="let indi of indiData" [data]="getDataConfig(indi['countries'])" [options]="optionsConfig" [type]="'line'" width="0" height="0"></canvas>
          </div>
        </div>

        <div class="indi-title">
          <button type="button" *ngIf="indicators.length > 1" class="chevron-left" (click)="changeIndi(-1)">
            <i class="fa-solid fa-chevron-left fa-xl text-shadow"></i>
          </button>
          <h1 class="text-shadow">{{getNameFromCode(indicators[selectedIndi], 'indi')}}</h1>
          <button type="button" *ngIf="indicators.length > 1" class="chevron-right" (click)="changeIndi(1)">
            <i class="fa-solid fa-chevron-right fa-xl text-shadow"></i>
          </button>
        </div>
      </div>

      <div class="chart-controls border-style box-shadow">
        <div class="data-category">
          <div class="data-info" *ngFor="let indi of indiData, let index = index" (click)="selectedIndi=index">
            <div class="data-details">
              <h1 [ngStyle]="{'color':selectedIndi == index ? '#DAD9D5' : '#a5a5a5'}">{{getNameFromCode(indi['code'], 'indi')}}</h1>
              <div class="data-buttons-wrapper border-style" *ngIf="indicators.length > 1">
                <button><i class="fa-solid fa-xmark fa-lg" (click)="deleteIndicator(index)"></i></button>
              </div>
            </div>

            <div class="data-values">
              <div *ngFor="let country of indi['countries']"><div class="arrow"></div> <h2 [ngStyle]="{'color':selectedIndi == index ? '#DAD9D5' : '#a5a5a5'}">{{country['name']}} &nbsp; <i *ngIf="country['data']" [ngStyle]="{'color': country['color']()}">{{intlFormatObjs['decimal'].format(country['data'][0]['y'])}}</i></h2></div>
            </div>
          </div>
        </div>

        <button type="button" class="add-indicator-btn" (click)="toggleSearch(); searchTab='indicators'"><i class="fa-solid fa-chart-line"></i> indicators</button>

        <div class="footer">
          <a href="">Terms Of Use</a>
          <span>Data provided by <a href="https://eodhistoricaldata.com/r/?ref=8OHQ6DYG" target="_blank">EODHD</a></span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedTab == 'table'" class="table-tab border-style">
    <div class="content">
      <div class="header">
        <div class="indi-title">
          <button type="button" *ngIf="indicators.length > 1" class="chevron-left" (click)="changeIndi(-1)">
            <i class="fa-solid fa-chevron-left fa-xl text-shadow"></i>
          </button>
          <h1>{{getNameFromCode(indicators[selectedIndi], 'indi')}}</h1>
          <button type="button" *ngIf="indicators.length > 1" class="chevron-right" (click)="changeIndi(1)">
            <i class="fa-solid fa-chevron-right fa-xl text-shadow"></i>
          </button>
        </div>

        <button class="blue-btn" type="button" (click)="exportArrayToExcel()"><i class="fa-solid fa-file-arrow-down"></i>&nbsp; Export to excel</button>
      </div>

      <div class="table-container">
        <div *ngFor="let indi of indiData, let index = index">
          <ng-container *ngIf="selectedIndi == index">
            <table class="table border-style box-shadow">
              <tr style="position: sticky">
                <th>Date</th>
                <th *ngFor="let country of indi['countries']">{{country['name']}}</th>
              </tr>
              <tr *ngFor="let data of indi['countries'][0]['data']; let index = index">
                <td>{{data["x"] | date:'dd/MM/yyyy'}}</td>
                <td *ngFor="let country of indi['countries']">{{country['data'][index]['y']}}</td>
              </tr>
            </table>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="search-panel" *ngIf="showSearch">
  <form class="box-shadow border-style">
    <input *ngIf="searchTab=='indicators'" placeholder="Search indicators..." type="search" (input)="searchIndicator($event)" class="border-style box-shadow">
    <input *ngIf="searchTab=='countries'" placeholder="Search countries..." type="search" (input)="searchCountry($event)" class="border-style box-shadow">
    <div class="form-actions">
      <button type="button" (click)="toggleSearch()" class="cancel border-style">Cancel</button>
      <button (click)="apply(); toggleSearch()" class="apply border-style" type="submit">Apply</button>
    </div>
  </form>

  <div class="autocomplete-container">
    <div class="search-tabs border-style">
      <button type="button" (click)="searchTab='countries'" [ngClass]="{'selected': searchTab=='countries'}">Countries</button>
      <button type="button" (click)="searchTab='indicators'" [ngClass]="{'selected': searchTab=='indicators'}">Indicators</button>
    </div>
    <ng-scrollbar *ngIf="searchTab=='indicators'" class="autocomplete border-style box-shadow" thumbClass="white-scrollbars">
      <table mat-table [dataSource]="indiSearchResults">

        <ng-container matColumnDef="Indicators">
          <th mat-header-cell *matHeaderCellDef> Indicators </th>
          <td mat-cell *matCellDef="let result; let i = index"><i *ngIf="searchIndicators.includes(result.code)" class="fa-solid fa-check fa-lg" style="color: #33369F;"></i>&nbsp;&nbsp;{{ result.name }}</td>
        </ng-container>

        <tr mat-row *matRowDef="let row; let i = index; columns: ['Indicators']"
            [ngClass]="{'selected-row': searchIndicators.includes(row.code)}"
            (click)="clickOnIndi(row.code)"></tr>
      </table>
    </ng-scrollbar>

    <ng-scrollbar *ngIf="searchTab=='countries'" class="autocomplete border-style box-shadow" thumbClass="white-scrollbars">
      <table mat-table [dataSource]="countriesSearchResults">

        <ng-container matColumnDef="Countries">
          <th mat-header-cell *matHeaderCellDef> Countries </th>
          <td mat-cell *matCellDef="let result; let i = index"><i *ngIf="searchCountries.includes(result.code)" class="fa-solid fa-check fa-lg" style="color: #33369F;"></i> {{ result.name }}</td>
        </ng-container>

        <tr mat-row *matRowDef="let row; let i = index; columns: ['Countries']"
            [ngClass]="{'selected-row': searchCountries.includes(row.code)}"
            (click)="clickOnCountry(row.code)"></tr>

      </table>
    </ng-scrollbar>
  </div>
</div>

<app-premium-popup *ngIf="!app.isLoggedIn || !app.user['premium']" src="macro-indicator" [host]="this"></app-premium-popup>
