<app-header></app-header>

<div class="content">
  <header class="user-info">
    <div class="user-icon">
      <i class="fa-regular fa-user fa-lg"></i>
    </div>

    <div class="texts">
      <div class="edit-wrapper">
        <h1 *ngIf="!isEditingUsername">{{user['username']}}</h1>
        <div *ngIf="!isEditingUsername && app.user['id'] == user['id']" class="actions border-style">
          <button (click)="isEditingUsername = true"><i class="fa-solid fa-pen-to-square fa-lg"></i></button>
        </div>

        <input *ngIf="isEditingUsername" [(ngModel)]="usernameInputValue" (input)="checkUsername()" placeholder="New username" minlength="3" maxlength="25">
        <div *ngIf="isEditingUsername" class="actions border-style">
          <button (click)="isEditingUsername = false; isUsernameAvailable = true; usernameInputValue = ''"><i class="fa-solid fa-xmark fa-lg"></i></button>
          <button (click)="editUsername(); isEditingUsername = false; isUsernameAvailable = true; usernameInputValue = ''" [disabled]="!isUsernameAvailable || usernameInputValue.length <= 3"><i class="fa-solid fa-check fa-lg"></i></button>
        </div>
      </div>

      <p *ngIf="!isUsernameAvailable" class="error-message">Not available</p>

      <p *ngIf="app.user['id'] != user['id'] && user['description'].length > 0">{{user['description']}}</p>
      <p *ngIf="app.user['id'] != user['id'] && user['description'].length == 0">No description</p>
      <textarea *ngIf="app.user['id'] == user['id']" [(ngModel)]="user['description']" (ngModelChange)="editDescription(user['description'])" class="description-input border-style" placeholder="Description"></textarea>
    </div>
  </header>

  <div class="separator"></div>

  <div class="bottom-section">
    <div class="stats border-style">
      <h2>Member Since</h2>
      <span class="value">{{user['creation_date']}}</span>

      <div class="separator"></div>

      <h2>Account Status</h2>
      <span *ngIf="user['premium']" class="value yellow">Premium</span>
      <span *ngIf="!user['premium']" class="value pos">Free</span>

      <div class="separator"></div>

      <h2>Public Groups</h2>
      <table class="table border-style box-shadow">
        <tr>
          <td>Number</td>
          <td>{{groups.length}}</td>
        </tr>
        <tr>
          <td>Best Performance</td>
          <td *ngIf="isAllGroupLoaded && groups.length > 0">{{intlFormatObjs['percent'].format(getBestPerformance() / 100)}}</td>
          <td *ngIf="!isAllGroupLoaded"><mat-spinner diameter="15"></mat-spinner></td>
          <td *ngIf="isAllGroupLoaded && groups.length == 0">-</td>
        </tr>
        <tr>
          <td>Highest Value</td>
          <td *ngIf="isAllGroupLoaded && groups.length > 0">{{intlFormatObjs['decimal'].format(getHighestValue())}}</td>
          <td *ngIf="!isAllGroupLoaded"><mat-spinner diameter="15"></mat-spinner></td>
          <td *ngIf="isAllGroupLoaded && groups.length == 0">-</td>
        </tr>
      </table>
    </div>

    <div class="groups">
      <ng-container *ngFor="let group of groups">
        <a *ngIf="data[group['id']]" class="group border-style" [href]="'/portfolio/' + user['username'] + '/' + group['id']">
          <div class="left-section">
            <h1>{{group['name']}}</h1>

            <div class="valuation">
              <h2>{{intlFormatObjs['currency'].format(data[group['id']]['value'].slice(-1)[0]['y'])}}</h2> <span class="value" [ngClass]="{'pos': data[group['id']]['percentageVar'].slice(-1)[0]['y'] > 0, 'neg': data[group['id']]['percentageVar'].slice(-1)[0]['y'] < 0}">{{intlFormatObjs['decimal'].format(data[group['id']]['value'].slice(-1)[0]['y'] - data[group['id']]['value'][0]['y'])}} ({{intlFormatObjs['percent'].format(data[group['id']]['percentageVar'].slice(-1)[0]['y'] / 100)}})</span>
            </div>
          </div>

          <div class="chart-preview-container">
            <canvas baseChart #previewChart [data]="getPreviewConfig(data[group['id']]['value'])['data']" [options]="getPreviewConfig(data[group['id']]['value'])['options']" [type]="getPreviewConfig(data[group['id']]['value'])['type']" height="0"></canvas>
          </div>
        </a>
        <div *ngIf="!data[group['id']]" class="group loading border-style">
          <mat-spinner diameter="50"></mat-spinner>
        </div>
      </ng-container>

      <h1 *ngIf="isAllGroupLoaded && groups.length == 0">No public groups</h1>
    </div>
  </div>
</div>

<app-footer></app-footer>
