<header class="glass-morphism border-style box-shadow">
  <div class="left-section">
    <a href="/" class="logo">
      <img src="/assets/img/logo_light_trans.webp" alt="logo" height="25">
    </a>
    <i class="fa-solid fa-bars fa-2xl burger-menu" (click)="openMenu = !openMenu; userOpenMenu = false"></i>
    <div class="search-box">
      <button class="border-style" (click)="app.toggleSearch()"><i class="fa-solid fa-magnifying-glass fa-xs"></i></button>
    </div>
  </div>
  <div class="center-section">
    <div class="search-box">
      <input value="Search for a quote" type="button" class="border-style" (click)="app.toggleSearch()">
      <button class="border-style" (click)="app.toggleSearch()"><i class="fa-solid fa-magnifying-glass fa-xs"></i></button>
    </div>

    <div class="v-separator"></div>

    <ul class="navbar" [style.display]="openMenu ? 'flex' : 'none'">
      <li class="dropdown">
        <a *ngIf="app.user">{{app.user['username']}} &nbsp;<i class="fa-solid fa-chevron-down"></i></a>
        <ul class="economy-submenu border-style box-shadow">
          <li><a href="/profile">Profile</a></li>
          <li><a href="/portfolio">Portfolio Tracker</a></li>
        </ul>
        <div class="trigger"></div>
      </li>

      <li>
        <a (click)="app.toggleLoginDialog()" *ngIf="app.isLoggedIn == false">Portfolio Tracker</a>
      </li>

      <li class="dropdown">
        <a>Economy &nbsp;<i class="fa-solid fa-chevron-down"></i></a>
        <ul class="economy-submenu border-style box-shadow">
          <li><a href="/economic-calendar">Economic Calendar</a></li>
          <li><a href="/macro-indicators">Macroeconomic Indicators</a></li>
        </ul>
        <div class="trigger"></div>
      </li>
      <li class="dropdown">
        <a>More &nbsp;<i class="fa-solid fa-chevron-down"></i></a>
        <ul class="economy-submenu border-style box-shadow">
          <li><a href="/terms-of-use">Terms Of Use</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="mailto:support@finalyzing.com" target="_blank">Send feedback</a></li>
          <li><a href="/Q&A">Q&A</a></li>
          <li><a href="/pricing">Pricing</a></li>
        </ul>
        <div class="trigger"></div>
      </li>
    </ul>
  </div>
  <div class="right-section">
    <button class="user-icon" (click)="userOpenMenu = !userOpenMenu"><i class="fa-regular fa-user"></i></button>
  </div>

  <div class="user-menu border-style box-shadow" *ngIf="userOpenMenu">
    <ul>
      <ng-container *ngIf="app.isLoggedIn == false">
        <li>
          <button (click)="app.toggleLoginDialog(); userOpenMenu = false" class="sign-in-btn"><i class="fa-regular fa-user"></i>&nbsp; Sign In</button>
        </li>
        <li>
          <button (click)="app.toggleRegisterDialog(); userOpenMenu = false">Sign Up</button>
        </li>
      </ng-container>

      <ng-container *ngIf="app.isLoggedIn">
        <li>
          <a class="view-profile-btn" href="/profile"><div class="user-icon"><i class="fa-regular fa-user"></i></div>&nbsp; <div class="text">{{app.user['username']}} <p>View profile</p></div></a>
        </li>
        <div class="h-separator"></div>
        <li>
          <a href="/profile">Account Settings</a>
        </li>
        <li>
          <button (click)="createBillingPortalSession()">Billing</button>
        </li>
      </ng-container>

      <ng-container *ngIf="app.isLoggedIn">
        <div class="h-separator"></div>

        <li>
          <a href="/portfolio">Portfolios</a>
        </li>
      </ng-container>

      <div class="h-separator"></div>

      <li>
        <a href="mailto:support@finalyzing.com" target="_blank">Send feedback &nbsp; <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
      </li>

      <ng-container *ngIf="app.isLoggedIn">
        <div class="h-separator"></div>
        <li>
          <button (click)="app.logout()" class="logout-btn">Sign Out &nbsp; <i class="fa-solid fa-arrow-right-from-bracket"></i></button>
        </li>
      </ng-container>
    </ul>
  </div>
</header>
