<form *ngIf="loginPanel === 1" (ngSubmit)="login()" class="glass-morphism border-style">
  <header>
    <h1>Sign In</h1>
    <button type="button" *ngIf="app.loginCancelable" (click)="app.toggleLoginDialog()"><i class="fa-solid fa-xmark fa-xl"></i></button>
  </header>
  <div class="input">
    <input type="email" id="email" name="email" placeholder=" " class="border-style" [(ngModel)]="email" autocomplete required>
    <label for="email">Email</label>
  </div>
  <div class="input">
    <input type="password" id="password" name="password" placeholder=" " minlength="8" maxlength="100" class="border-style" [(ngModel)]="password" autocomplete required>
    <label for="password">Password</label>
  </div>
  <p *ngIf="error" class="error-message">{{error}}</p>
  <p class="register-link"><button type="button" (click)="loginPanel = 3; error = undefined">Forgot Password ?</button></p>
  <div class="btn-wrapper">
    <button type="submit" class="btn-primary border-style">Sign In</button>
  </div>
  <p class="register-link">Not a member ? <button type="button" (click)="app.toggleLoginDialog(); app.toggleRegisterDialog()">Sign up now</button></p>
  <div class="separator">or</div>
  <div id="g-login"></div>
</form>

<form *ngIf="loginPanel === 2" (ngSubmit)="verify_2fa()" class="glass-morphism border-style">
  <header>
    <h1>Two-factor authentication</h1>
  </header>
  <h2>Enter the 8-digit verification code <br>we've sent to <strong>{{email}}</strong></h2>
  <div class="input">
    <input type="text" id="a2f" name="a2f" placeholder=" " class="border-style" [(ngModel)]="verification_code" required>
    <label for="a2f">Code</label>
  </div>
  <p *ngIf="error" class="error-message">{{error}}</p>
  <p class="register-link"><button type="button" (click)="login()" [disabled]="isCooldown">Resend code <span *ngIf="isCooldown">({{remainingTime}} secs)</span></button></p>
  <div class="btn-wrapper" [style.grid-template-columns]="app.loginCancelable ? '1fr 1fr' : '1fr'">
    <button type="button" *ngIf="app.loginCancelable" (click)="app.toggleLoginDialog()" class="btn-cancel border-style">Cancel</button>
    <button type="submit" class="btn-primary border-style">Done</button>
  </div>
</form>

<form *ngIf="loginPanel === 3" (ngSubmit)="passwordResetRequest()" class="glass-morphism border-style">
  <header>
    <h1>Forgot Password</h1>
    <button type="button" *ngIf="app.loginCancelable" (click)="app.toggleLoginDialog()"><i class="fa-solid fa-xmark fa-xl"></i></button>
  </header>
  <div class="input">
    <input type="text" id="reset_email" name="reset_email" placeholder=" " class="border-style" [(ngModel)]="email" required>
    <label for="reset_email">Email</label>
  </div>
  <p *ngIf="error" class="error-message">{{error}}</p>
  <div class="btn-wrapper">
    <button type="submit" class="btn-primary border-style">Send Reset Link</button>
  </div>
</form>

<form *ngIf="loginPanel === 4" (ngSubmit)="loginPanel = 1; error = undefined" class="glass-morphism border-style">
  <header>
    <h1>Email sent successfully</h1>
    <button type="button" (click)="app.toggleLoginDialog()"><i class="fa-solid fa-xmark fa-xl"></i></button>
  </header>
  <i class="fa-solid fa-envelope-circle-check" style="font-size: 2.5em"></i>
  <h2>The reset link has been sent to <strong>{{email}}</strong><br>Link valid for 30 minutes</h2>
  <div class="btn-wrapper">
    <button type="submit" class="btn-primary border-style">Sign In</button>
  </div>
</form>
