<div class="content" *ngIf="quoteComponent.selectTab=='news'">
  <header>
    <h1>News & Sentiments</h1>

    <div *ngIf="data['News']" class="sentiments-wrapper">
      <div *ngIf="data['News']" class="sentiments border-style" [style.filter]="app.isLoggedIn && app.user['premium'] ? 'blur(0)': 'blur(7px)'">
        <div class="gauge-container">
          <div class="gauge-wrapper" *ngFor="let type of ['News', 'Tweets']">
            <h2>{{type}}</h2>
            <div>
              <div class="gauge">
                <div class="pointer" [style]="getSentimentTransform(getSentimentsValues(type))"></div>
                <div class="mid"></div>
              </div>
            </div>
            <h3>{{getSentimentText(getSentimentsValues(type))}}</h3>
          </div>
        </div>

        <select name="sentiments-period" id="sentiments-period" [(ngModel)]="period">
          <option value="1">1 Day</option>
          <option value="7">1 Week</option>
          <option value="30">1 Month</option>
        </select>
      </div>

      <div *ngIf="!app.isLoggedIn || !app.user['premium']" class="premium-feature">
        <h2 class="text-shadow">Premium Feature</h2>
        <button type="button" (click)="showPremiumPopup=true" class="box-shadow">Learn More</button>
      </div>
    </div>
  </header>

  <ng-container *ngIf="data['News']">
    <a class="news border-style" *ngFor="let news of data['News']['News']" [href]="news['link']" target="_blank">
      <div class="mask" *ngIf="news['content'].length > 800"></div>
      <h2>{{news["title"]}}</h2>
      <h3>{{elapsedTime(news['date'])}}</h3>
      <a [href]="news['link']">Source : {{getSource(news['link'])}}</a>
      <div class="symbols">
        <div *ngFor="let symbol of removeSimilarTickers(news['symbols'])">{{symbol}}</div>
      </div>
      <p>{{news["content"]}}</p>
    </a>
  </ng-container>

  <h2 *ngIf="data['News'] === null">No news available.</h2>
  <div *ngIf="data['News'] === undefined" class="loading">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="loadingScroll" class="loading">
    <mat-spinner diameter="30"></mat-spinner>
  </div>
</div>

<app-premium-popup *ngIf="showPremiumPopup" src="news" [host]="this"></app-premium-popup>
