<app-header></app-header>

<h1 class="title">Terms of Use</h1>
<p class="sub-title">By accessing and using the website (<a href="https://finalyzing.com">finalyzing.com</a>) or any of our services, you are agreeing to be bound by the following terms of use. If you do not agree to these terms, please refrain from using the site. Your use of the site constitutes your acceptance of and agreement to abide by these terms.</p>

<div class="container">
    <ul class="border-style box-shadow" [style.margin-top]="firstCategory.offsetTop + 'px'">
        <li><h2>Summary</h2></li>
        <li><a [style.color]="inViewId == 'modification' ? '#1bafff' : '#dad9d5'" href="/terms-of-use#modification">&bull;&nbsp; Modification</a></li>
        <li><a [style.color]="inViewId == 'services-and-sub' ? '#1bafff' : '#dad9d5'" href="/terms-of-use#services-and-sub">&bull;&nbsp; Services and subscription</a></li>
        <li><a [style.color]="inViewId == 'no-warranties' ? '#1bafff' : '#dad9d5'" href="/terms-of-use#no-warranties">&bull;&nbsp; No warranties</a></li>
        <li><a [style.color]="inViewId == 'attribution' ? '#1bafff' : '#dad9d5'" href="/terms-of-use#attribution">&bull;&nbsp; Attribution</a></li>
        <li><a [style.color]="inViewId == 'property' ? '#1bafff' : '#dad9d5'" href="/terms-of-use#property">&bull;&nbsp; Property</a></li>
        <li><a [style.color]="inViewId == 'right' ? '#1bafff' : '#dad9d5'" href="/terms-of-use#right">&bull;&nbsp; Rights</a></li>
        <li><a [style.color]="inViewId == 'indemnity' ? '#1bafff' : '#dad9d5'" href="/terms-of-use#indemnity">&bull;&nbsp; Indemnity</a></li>
        <li><a [style.color]="inViewId == 'responsibility' ? '#1bafff' : '#dad9d5'" href="/terms-of-use#responsibility">&bull;&nbsp; Responsibility</a></li>
        <li><a [style.color]="inViewId == 'personal-information' ? '#1bafff' : '#dad9d5'" href="/terms-of-use#personal-information">&bull;&nbsp; Personal Information</a></li>
    </ul>

    <div class="content">
        <section #firstCategory>
            <div id="modification" class="paragraphs border-style box-shadow">
                <h2>Modification</h2>
                <p>At any time, we may make changes to these terms of use. By continuing to use Finalyzing after we have published any modifications to these terms, you are indicating that you accept the updated conditions. We will inform you in advance by email of their update and/or by clearly displaying a notice on our site.</p>
            </div>

            <div id="services-and-sub" class="paragraphs border-style box-shadow">
                <h2>Services and subscription</h2>
                <p>At Finalyzing, we cannot guarantee the accuracy, reliability, currency, completeness, or suitability of the information available through our services. We source information from market data providers, who we believe to be reliable sources. However, due to the possibility of human and mechanical error, we cannot guarantee the accuracy, completeness, timeliness, or correct sequencing of the information available on our website.</p>
                <p>We strive to ensure that our services are always available to our users and will restore them as quickly as possible in the event of any disruption. Finalyzing is not responsible for any failure to provide our services. Your use of such content is entirely at your own risk.</p>
                <p>Finalyzing One provides access to additional tools and data. The subscription is monthly or annual, can be canceled at any time and cannot be refunded. We can also decide to stop a user's subscription if they do not respect the rules established on our site. We reserve the right to change the prices of our subscriptions, we will obviously notify you in advance. The number of technical indicators is blocked at 30 for technical reasons, even for subscribers. Likewise, the watchlist is blocked at 200 favorites.</p>
            </div>

            <div id="no-warranties" class="paragraphs border-style box-shadow">
                <h2>No warranties</h2>
                <p>Finalyzing would like to remind its users that the use of the data available on its website involves inherent risks and is entirely at the user's own risk. Finalyzing cannot be held responsible for any commercial losses suffered by users due to the use of this data.</p>
                <p>Finalyzing expressly disclaims any liability for any loss or damage resulting from the use of the information or data contained on its website. It is important to note that financial markets are inherently risky, and caution should be exercised when making investment decisions.</p>
                <p>Decisions to buy, sell, hold, or trade in securities, commodities, and other investments involve risk and should be made with the guidance of qualified financial professionals. Before embarking on any trading program, users should seek the advice of a qualified financial professional and carefully evaluate whether such trading is appropriate for them based on their financial condition and ability to withstand financial risks.</p>
                <p>Finalyzing is not responsible for any loss or damage incurred by users or any other person as a result of any trading or investment activity based on any information or material provided through Finalyzing's services.</p>
            </div>

            <div id="attribution" class="paragraphs border-style box-shadow">
                <h2>Attribution</h2>
                <p>Finalyzing allows all users of its website to take and use photos and videos from the site in various publications such as presentations, press releases, blog articles, etc. Similarly, users can use these visual resources during training sessions or when broadcasting videos including previews, news, analyses, etc. However, Finalyzing requires that at least one mention of the use of these photos and videos be clearly visible at all times.</p>
                <p>It is important to note that the use of these photos and videos outside of the Finalyzing website, without appropriate mention, is strictly prohibited. If users do not comply with this rule, they may be subject to sanctions such as warnings, court orders, fines, damages, immediate content removal, and closure of their Finalyzing account.</p>
                <p>Finalyzing takes the protection of its intellectual property very seriously and reserves the right to take all necessary measures to enforce its rights.</p>
            </div>

            <div id="property" class="paragraphs border-style box-shadow">
                <h2>Property</h2>
                <p>We declare that all services provided on our website, Finalyzing, are the exclusive property of Finalyzing and EOD Historical Data for the data. This includes all texts, images, graphics, data, and information available on our site. All rights, titles, and interests relating to our site are therefore protected and reserved.</p>
                <p>We also wish to inform you that it is prohibited to use robots or other automated tools to extract or collect data from our site. Any commercial or unauthorized exploitation of our content is strictly prohibited, including framing or reproduction of all or part of our content. We reserve the right to take legal action to enforce these conditions.</p>
                <p>Finally, we would like to emphasize that it is also prohibited to copy any software provided on our site. This includes any form of translation, decompilation, or disassembly. We want our intellectual property and copyrights to be respected, and we will act accordingly in case of violation of these conditions.</p>
            </div>

            <div id="right" class="paragraphs border-style box-shadow">
                <h2>Rights</h2>
                <p>The rights linked to the contract between a user and Finalyzing cannot be transferred. If part of the terms of use becomes invalid, the rest of the terms of use remain in force.</p>
            </div>

            <div id="indemnity" class="paragraphs border-style box-shadow">
                <h2>Indemnity</h2>
                <p>Any damage or loss, direct or indirect, including legal costs, caused to Finalizing must be compensated by the customer or third party.</p>
            </div>

            <div id="responsibility" class="paragraphs border-style box-shadow">
                <h2>Responsibility</h2>
                <p>If a user encounters problems or suffers harm when using our services, we cannot be held responsible within the limits of the permissiveness of the law and this without taking into account the other provisions or rules set out in the terms of use.</p>
            </div>

            <div id="personal-information" class="paragraphs border-style box-shadow">
                <h2>Personal Information</h2>
                <p>Finalizing collects uses data about its users to improve our services, advertising, marketing and statistics. A user can request the information that Finalyzing has about them and can request modifications. This type of approach may generate costs which may be invoiced.</p>
            </div>
        </section>
    </div>
</div>

<app-footer></app-footer>
