<div class="content">
  <div class="contact">
    <h1 class="holding">MK Holding, <span>Finalyzing</span></h1>
    <span>984 448 217 <strong>R.C.S. LYON</strong></span>
    <p>email: support&#64;finalyzing.com</p>
    <span>Data provided by <a href="https://eodhistoricaldata.com/r/?ref=8OHQ6DYG" target="_blank">EODHD</a></span>
  </div>
  <div class="right">
    <div class="menus-container">
      <div class="menu">
        <h1>Company</h1>
        <a href="/Q&A">Q&A</a>
        <a href="mailto:support@finalyzing.com" target="_blank">Contact</a>
      </div>
      <div class="menu">
        <h1>Legal Disclaimer</h1>
        <a href="/terms-of-use">Terms Of Use</a>
        <a href="/privacy-policy">Privacy Policy</a>
      </div>
    </div>
    <p>Finalyzing would like to remind its users that the use of the data available on its website involves inherent risks and is entirely at the user's own risk. Finalyzing cannot be held responsible for any commercial losses suffered by users due to the use of this data.</p>
  </div>
</div>
