<div [style.background-color]="backgroundColor" class="embed-container">
  <div *ngIf="header" class="header" >
    <h1 [ngStyle]="{'filter': colorTheme=='light' ? 'invert(1)' : 'invert(0)'}">{{ticker}}</h1>

    <div class="separator"></div>

    <div [ngClass]="{'dark': colorTheme=='dark', 'light': colorTheme=='light'}" class="selectors">
      <p><i class="fa-solid fa-ruler-horizontal"></i> Period</p>
      <select [ngModel]="period" (ngModelChange)="changePeriod($event)">
        <option value="day">1D</option>
        <option value="week">1W</option>
        <option value="month">1M</option>
      </select>
    </div>

    <div [ngClass]="{'dark': colorTheme=='dark', 'light': colorTheme=='light'}" class="selectors">
      <p><i class="fa-regular fa-calendar fa-sm"></i> Date Range</p>
      <button type="button" [ngClass]="{'selected': dateRange == '1M'}" (click)="changeDateRange('1M')">1M</button>
      <button type="button" [ngClass]="{'selected': dateRange == '3M'}" (click)="changeDateRange('3M')">3M</button>
      <button type="button" [ngClass]="{'selected': dateRange == '6M'}" (click)="changeDateRange('6M')">6M</button>
      <button type="button" [ngClass]="{'selected': dateRange == 'YTD'}" (click)="changeDateRange('YTD')">YTD</button>
      <button type="button" [ngClass]="{'selected': dateRange == '1Y'}" (click)="changeDateRange('1Y')">1Y</button>
      <button type="button" [ngClass]="{'selected': dateRange == '5Y'}" (click)="changeDateRange('5Y')">5Y</button>
      <button type="button" [ngClass]="{'selected': dateRange == '20Y'}" (click)="changeDateRange('20Y')">20Y</button>
    </div>
  </div>

  <div class="chart-container">
    <app-chart *ngIf="data['historical'][0] else loadingScreen" [data]="data" [period]="period" [colorTheme]="colorTheme" [panOffset]="panOffset" style="background: transparent"></app-chart>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>

  <ng-template #loadingScreen>
    <div class="loading-screen">
      <div>
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </ng-template>

  <a [href]="'https://finalyzing.com/quote/'+ticker" target="_blank" [ngStyle]="{'transform': data['historical'][0] ? 'translateY(-40px)' : 'translateY(0)' }">
    <p>Powered By</p>
    <img src="/assets/img/logo_light_trans_long.webp" alt="finalyzing" [ngStyle]="{'filter': colorTheme=='light' ? 'invert(1)' : 'invert(0)'}">
  </a>
</div>
